## Dict Comprehensions

Let us see how we can process Python collections using dict comprehensions.
* We will be using orders data set which will be available by running notebook related to preparing data sets.
* We will see how to get a dict using dict comprehensions. The output should contain key value pairs for each order where order_id is key and order_customer_id is the value.

In [1]:
%run 07_preparing_data_sets.ipynb

In [2]:
orders[:10]

['1,2013-07-25 00:00:00.0,11599,CLOSED',
 '2,2013-07-25 00:00:00.0,256,PENDING_PAYMENT',
 '3,2013-07-25 00:00:00.0,12111,COMPLETE',
 '4,2013-07-25 00:00:00.0,8827,CLOSED',
 '5,2013-07-25 00:00:00.0,11318,COMPLETE',
 '6,2013-07-25 00:00:00.0,7130,COMPLETE',
 '7,2013-07-25 00:00:00.0,4530,COMPLETE',
 '8,2013-07-25 00:00:00.0,2911,PROCESSING',
 '9,2013-07-25 00:00:00.0,5657,PENDING_PAYMENT',
 '10,2013-07-25 00:00:00.0,5648,PENDING_PAYMENT']

In [3]:
len(orders)

68883

In [4]:
order_customers = {int(order.split(',')[0]): int(order.split(',')[2]) for order in orders}

In [5]:
type(order_customers)

dict

In [10]:
list(order_customers.values())[:10]

[11599, 256, 12111, 8827, 11318, 7130, 4530, 2911, 5657, 5648]

In [11]:
order_customers[1]

11599

In [12]:
employees = [
    '1,ktrett0@independent.co.uk,6998.95',
    '2,khaddock1@deviantart.com,10572.4',
    '3,ecraft2@dell.com,3967.35',
    '4,drussam3@t-online.de,17672.44',
    '5,graigatt4@github.io,11660.67',
    '6,bjaxon5@salon.com,18614.93',
    '7,araulston6@list-manage.com,11550.75',
    '8,mcobb7@mozilla.com,17016.15',
    '9,grobardley8@unesco.org,14141.25',
    '10,bbuye9@vkontakte.ru,12193.2'
]

In [13]:
highest_salaried_employees = {
    int(employee.split(',')[0]): float(employee.split(',')[2]) 
    for employee in employees
    if float(employee.split(',')[2]) > 10000
}

In [14]:
highest_salaried_employees

{2: 10572.4,
 4: 17672.44,
 5: 11660.67,
 6: 18614.93,
 7: 11550.75,
 8: 17016.15,
 9: 14141.25,
 10: 12193.2}