## Cumulative Operations using itertools

Get cumulative sales from list of transactions.

In [4]:
ns = [1, 2, 3, 4] 
# Cumulative totals [1, 3, 6, 10]
# Cumulative product [1, 2, 6, 24]

In [5]:
import itertools as iter

In [6]:
iter.accumulate?

Init signature: iter.accumulate(self, /, *args, **kwargs)
Docstring:
accumulate(iterable[, func]) --> accumulate object

Return series of accumulated sums (or other binary function results).
Type:           type
Subclasses:

In [7]:
iter.accumulate(ns)

In [8]:
list(iter.accumulate(ns))

[1, 3, 6, 10]

In [10]:
import operator as o
list(iter.accumulate(ns, o.mul))

[1, 2, 6, 24]

In [11]:
sales = [
    (202101, 10500),
    (202102, 11250),
    (202103, 13450),
    (202104, 8500),
    (202105, 9250),
    (202106, 8760),
    (202107, 12150),
    (202108, 11850),
    (202109, 10950),
    (202110, 9250),
    (202111, 14250),
    (202112, 13650),
]

In [12]:
sales

[(202101, 10500),
 (202102, 11250),
 (202103, 13450),
 (202104, 8500),
 (202105, 9250),
 (202106, 8760),
 (202107, 12150),
 (202108, 11850),
 (202109, 10950),
 (202110, 9250),
 (202111, 14250),
 (202112, 13650)]

In [13]:
sale_months = map(lambda sale: sale[0], sales)

In [14]:
list(sale_months)

[202101,
 202102,
 202103,
 202104,
 202105,
 202106,
 202107,
 202108,
 202109,
 202110,
 202111,
 202112]

In [15]:
sale_revenues = map(lambda sale: sale[1], sales)

In [16]:
list(sale_revenues)

[10500,
 11250,
 13450,
 8500,
 9250,
 8760,
 12150,
 11850,
 10950,
 9250,
 14250,
 13650]

In [17]:
cumulative_revenues = list(iter.accumulate(map(lambda sale: sale[1], sales)))

In [18]:
cumulative_revenues

[10500,
 21750,
 35200,
 43700,
 52950,
 61710,
 73860,
 85710,
 96660,
 105910,
 120160,
 133810]

In [24]:
sale_months = map(lambda sale: sale[0], sales)
sale_revenues = map(lambda sale: sale[1], sales)
cumulative_revenues = list(iter.accumulate(map(lambda sale: sale[1], sales)))
list(zip(sale_months, cumulative_revenues))

[(202101, 10500),
 (202102, 21750),
 (202103, 35200),
 (202104, 43700),
 (202105, 52950),
 (202106, 61710),
 (202107, 73860),
 (202108, 85710),
 (202109, 96660),
 (202110, 105910),
 (202111, 120160),
 (202112, 133810)]