## Load Data into Courses

As part of this topic, you need to develop the required logic (Step 3 below) to load the data into the table.
* Make sure courses table is created
* Setup courses data
* Load data into the table
* Validate data in the table

In [1]:
%run 00_get_database_connection.ipynb

### Step 1: Make sure courses table is created

You need to ensure courses table is created before going further and load data into the table.

In [2]:
connection = get_pg_connection(
    host=postgres_host,
    port=postgres_port,
    database=f'{username}_sms_db',
    user=f'{username}_sms_user',
    password=password
)

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute(f"""
    SELECT * FROM information_schema.tables 
    WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
    LIMIT 10
""")

In [5]:
for row in cursor:
    print(row)

('itv002461_sms_db', 'public', 'users_range_part_201609', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201605', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201606', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201607', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201608', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201610', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_hash_part_4_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_hash_part_5_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_hash_part_6_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)

### Step 2: Setup courses data

Let us make sure we have list of tuples which contain course data.

In [6]:
courses = [('Programming using Python', 'Bob Dillon', 'published', '2020-09-30'),
 ('Data Engineering using Python', 'Bob Dillon', 'published', '2020-07-15'),
 ('Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 ('Programming using Scala', 'Elvis Presley', 'published', '2020-05-12'),
 ('Programming using Java', 'Mike Jack', 'inactive', '2020-08-10'),
 ('Web Applications - Python Flask', 'Bob Dillon', 'inactive', '2020-07-20'),
 ('Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 ('Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 ('Streaming Pipelines - Python', 'Bob Dillon', 'published', '2020-10-05'),
 ('Web Applications - Scala Play', 'Elvis Presley', 'inactive', '2020-09-30'),
 ('Web Applications - Python Django', 'Bob Dillon', 'published', '2020-06-23'),
 ('Server Automation - Ansible', 'Uncle Sam', 'published', '2020-07-05')]

### Step 3: Load Data into the table

Here you need to develop the logic which will insert the data into the table. Make sure to close connection after loading the data.

In [7]:
cursor=connection.cursor()
query=("""INSERT INTO courses 
              (course_name,course_author,course_status,course_published_dt)
          VALUES
              (%s,%s,%s,%s)
      """)
cursor.executemany(query,courses)
connection.commit()
cursor.close()
connection.close()

### Step 4: Validate Data

Compare the output with the input data and make sure that every thing is loaded properly.

In [8]:
%load_ext sql

In [9]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

env: DATABASE_URL=postgresql://itv002461_sms_user:7ji8g7gg8p8olbqbna5vz1tjyikaixco@m01.itversity.com:5433/itv002461_sms_db

In [10]:
%%sql

SELECT * FROM courses

12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5))]