## Delete Data from Courses

As part of this topic, you need to develop the required logic (Step 3 below) to delete the data from the table.
* Make sure courses table is created
* Validate all courses
* Setup data to be deleted
* Delete data from the table
* Validate data in the table

In [14]:
%run 00_get_database_connection.ipynb

### Step 1: Make sure courses table is created

You need to ensure courses table is created before going further and load data into the table.

In [15]:
connection = get_pg_connection(
    host=postgres_host,
    port=postgres_port,
    database=f'{username}_sms_db',
    user=f'{username}_sms_user',
    password=password
)

In [16]:
cursor = connection.cursor()

In [17]:
cursor.execute(f"""
    SELECT * FROM information_schema.tables 
    WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
    LIMIT 10
""")

In [18]:
for row in cursor:
    print(row)

('itv002461_sms_db', 'public', 'users_range_part_201609', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201605', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201606', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201607', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201608', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_range_part_201610', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_hash_part_4_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_hash_part_5_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)
('itv002461_sms_db', 'public', 'users_hash_part_6_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)

### Step 2: Validate all courses

Let us make sure courses table have all the data.

In [19]:
cursor.execute(f"""
    SELECT * FROM courses
""")

In [20]:
courses = [course for course in cursor]

In [21]:
len(courses) # should return 12

12

In [22]:
courses # Review the data to make sure that all the records are as expected

[(1,
  'Programming using Python',
  'Bob Dillon',
  'published',
  datetime.date(2020, 9, 30)),
 (2,
  'Data Engineering using Python',
  'Bob Dillon',
  'published',
  datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4,
  'Programming using Scala',
  'Elvis Presley',
  'published',
  datetime.date(2020, 5, 12)),
 (5,
  'Programming using Java',
  'Mike Jack',
  'inactive',
  datetime.date(2020, 8, 10)),
 (6,
  'Web Applications - Python Flask',
  'Bob Dillon',
  'inactive',
  datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9,
  'Streaming Pipelines - Python',
  'Bob Dillon',
  'published',
  datetime.date(2020, 10, 5)),
 (10,
  'Web Applications - Scala Play',
  'Elvis Presley',
  'inactive',
  datetime.date(2020, 9, 30)),
 (11,
  'Web Applications - Python Django',
  'Bob Dillon',
  'published',
  datetime.date(2020, 6, 23)),
 (12,
  'Server Automation - Ansible',
  'Uncle Sam',
  'published',
  datetime.date(2020, 7, 5))]

### Step 3: Setup Data to be deleted

Let us setup the courses to be deleted. We will create a list which contain courses to be deleted.

In [23]:
courses_to_be_deleted = ['Web Applications - Scala Play', 'Server Automation - Ansible']

### Step 4: Delete data from the table

Here you need to develop the logic which will insert the data into the table. Make sure to close connection after loading the data.

In [24]:
cursor=connection.cursor()
query=("""DELETE FROM courses
          WHERE course_name in (%s,%s)""")
cursor.execute(query,courses_to_be_deleted)
connection.commit()
cursor.close()
connection.close()

### Step 5: Validate Data

Make sure the output only contain 10 records.

In [25]:
%load_ext sql

In [26]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

env: DATABASE_URL=postgresql://itv002461_sms_user:7ji8g7gg8p8olbqbna5vz1tjyikaixco@m01.itversity.com:5433/itv002461_sms_db

In [27]:
%%sql

SELECT * FROM courses

10 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23))]

* This query should not return any thing

In [28]:
%%sql

SELECT * FROM courses
WHERE course_name IN ('Web Applications - Scala Play', 'Server Automation - Ansible')

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
0 rows affected.

[]