## Projecting Data

Let us understand different aspects of projecting data. We primarily using `SELECT` to project the data.

* We can project all columns using `*` or some columns using column names.
* We can provide aliases to a column or expression using `AS` in `SELECT` clause.
* `DISTINCT` can be used to get the distinct records from selected columns. We can also use `DISTINCT *` to get unique records using all the columns.
* As of now **Spark SQL** does not support projecting all but one or few columns. It is supported in Hive. Following will work in hive and it will project all the columns from orders except for order_id.

```
SET hive.support.quoted.identifiers=none;
SELECT `(order_id)?+.+` FROM orders;
```

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [10]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [11]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Basic Transformations").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@5fbaf6da

org.apache.spark.sql.SparkSession@5fbaf6da

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

In [28]:
%%sql 
USE itv002461_retail

++
||
++
++

In [29]:
%%sql

SELECT * FROM orders LIMIT 10

|       8|2013-07-25 00:00:...|             2911|     PR...

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
+--------+--------------------+-----------------+---------------+

In [1]:
%%sql

DESCRIBE orders

+-----------------+---------+-------+
|         col_name|data_type|comment|
+-----------------+---------+-------+
|         order_id|      int|   null|
|       order_date|   string|   null|
|order_customer_id|      int|   null|
|     order_status|   string|   null|
+-----------------+---------+-------+

In [2]:
%%sql

SELECT order_customer_id, order_date, order_status FROM orders LIMIT 10

|             1868|2014-02-23 00...

+-----------------+--------------------+---------------+
|order_customer_id|          order_date|   order_status|
+-----------------+--------------------+---------------+
|             8702|2014-02-23 00:00:...|       COMPLETE|
|             3066|2014-02-23 00:00:...|PENDING_PAYMENT|
|             7314|2014-02-23 00:00:...|SUSPECTED_FRAUD|
|             1271|2014-02-23 00:00:...|       COMPLETE|
|            11083|2014-02-23 00:00:...|       COMPLETE|
|             3159|2014-02-23 00:00:...|         CLOSED|
|             4551|2014-02-23 00:00:...|         CLOSED|
|             8135|2014-02-23 00:00:...|        PENDING|
|             7497|2014-02-23 00:00:...|PENDING_PAYMENT|
|             1868|2014-02-23 00:00:...|        ON_HOLD|
+-----------------+--------------------+---------------+

In [4]:
%%sql

SELECT order_customer_id, date_format(order_date, 'yyyy-MM'), order_status FROM orders LIMIT 10

|           ...

+-----------------+---------------------------------------------------+---------------+
|order_customer_id|date_format(CAST(order_date AS TIMESTAMP), yyyy-MM)|   order_status|
+-----------------+---------------------------------------------------+---------------+
|             8702|                                            2014-02|       COMPLETE|
|             3066|                                            2014-02|PENDING_PAYMENT|
|             7314|                                            2014-02|SUSPECTED_FRAUD|
|             1271|                                            2014-02|       COMPLETE|
|            11083|                                            2014-02|       COMPLETE|
|             3159|                                            2014-02|         CLOSED|
|             4551|                                            2014-02|         CLOSED|
|             8135|                                            2014-02|        PENDING|
|             7497|                                            2014-02|PENDING_PAYMENT|
|             1868|                                            2014-02|        ON_HOLD|
+-----------------+---------------------------------------------------+---------------+

In [5]:
%%sql

SELECT order_customer_id, 
    date_format(order_date, 'yyyy-MM') AS order_month, 
    order_status 
FROM orders LIMIT 10

+-----------------+-----------+---------------+
|order_customer_id|order_month|   order_status|
+-----------------+-----------+---------------+
|            11599|    2013-07|         CLOSED|
|              256|    2013-07|PENDING_PAYMENT|
|            12111|    2013-07|       COMPLETE|
|             8827|    2013-07|         CLOSED|
|            11318|    2013-07|       COMPLETE|
|             7130|    2013-07|       COMPLETE|
|             4530|    2013-07|       COMPLETE|
|             2911|    2013-07|     PROCESSING|
|             5657|    2013-07|PENDING_PAYMENT|
|             5648|    2013-07|PENDING_PAYMENT|
+-----------------+-----------+---------------+

In [6]:
%%sql

SELECT DISTINCT order_status FROM orders

+---------------+
|   order_status|
+---------------+
|PENDING_PAYMENT|
|       COMPLETE|
|        ON_HOLD|
| PAYMENT_REVIEW|
|     PROCESSING|
|         CLOSED|
|SUSPECTED_FRAUD|
|        PENDING|
|       CANCELED|
+---------------+

In [7]:
%%sql

SELECT DISTINCT * FROM orders LIMIT 10

|    1482|2013-08-01 00:00:...|             8110|       ...

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|     215|2013-07-26 00:00:...|             5925|         CLOSED|
|     224|2013-07-26 00:00:...|            11938|         CLOSED|
|     712|2013-07-29 00:00:...|             4372|        PENDING|
|     809|2013-07-29 00:00:...|             7725|     PROCESSING|
|     888|2013-07-30 00:00:...|             6610|PENDING_PAYMENT|
|    1088|2013-07-31 00:00:...|            11139|PENDING_PAYMENT|
|    1320|2013-08-01 00:00:...|            12270|       COMPLETE|
|    1482|2013-08-01 00:00:...|             8110|        PENDING|
|    1495|2013-08-01 00:00:...|              847|SUSPECTED_FRAUD|
|    1604|2013-08-02 00:00:...|             6008|       COMPLETE|
+--------+--------------------+-----------------+---------------+

In [17]:
spark.sql("USE itv002461_retail")

lastException: Throwable = null

[]

* Using Spark SQL with Python or Scala

In [18]:
spark.sql("SELECT * FROM orders").show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:...|              918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:...|             1837|         CLOSED|
|      13|2013-07-25 00:00:...|             9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:...|             9842|     PROCESSING|
|      15|2013-07-25 00:00:...|             2568|       COMPLETE|
|      16|2013-07-25 00:00:...|             7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:...|             2667|       COMPLETE|
|      18|2013-07-25 00:00:...|             1205|         CLOSED|
|      19|2013-07-25 00:00:...|             9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:...|             9198|     PROCESSING|
+--------+--------------------+-----------------+---------------+
only showing top 20 rows

In [19]:
spark.sql("DESCRIBE orders").show()

+-----------------+---------+-------+
|         col_name|data_type|comment|
+-----------------+---------+-------+
|         order_id|      int|   null|
|       order_date|   string|   null|
|order_customer_id|      int|   null|
|     order_status|   string|   null|
+-----------------+---------+-------+

In [20]:
spark.sql("SELECT order_customer_id, order_date, order_status FROM orders").show()

+-----------------+--------------------+---------------+
|order_customer_id|          order_date|   order_status|
+-----------------+--------------------+---------------+
|            11599|2013-07-25 00:00:...|         CLOSED|
|              256|2013-07-25 00:00:...|PENDING_PAYMENT|
|            12111|2013-07-25 00:00:...|       COMPLETE|
|             8827|2013-07-25 00:00:...|         CLOSED|
|            11318|2013-07-25 00:00:...|       COMPLETE|
|             7130|2013-07-25 00:00:...|       COMPLETE|
|             4530|2013-07-25 00:00:...|       COMPLETE|
|             2911|2013-07-25 00:00:...|     PROCESSING|
|             5657|2013-07-25 00:00:...|PENDING_PAYMENT|
|             5648|2013-07-25 00:00:...|PENDING_PAYMENT|
|              918|2013-07-25 00:00:...| PAYMENT_REVIEW|
|             1837|2013-07-25 00:00:...|         CLOSED|
|             9149|2013-07-25 00:00:...|PENDING_PAYMENT|
|             9842|2013-07-25 00:00:...|     PROCESSING|
|             2568|2013-07-25 00:00:...|       COMPLETE|
|             7276|2013-07-25 00:00:...|PENDING_PAYMENT|
|             2667|2013-07-25 00:00:...|       COMPLETE|
|             1205|2013-07-25 00:00:...|         CLOSED|
|             9488|2013-07-25 00:00:...|PENDING_PAYMENT|
|             9198|2013-07-25 00:00:...|     PROCESSING|
+-----------------+--------------------+---------------+
only showing top 20 rows

In [21]:
spark.sql("""
SELECT order_customer_id, 
    date_format(order_date, 'yyyy-MM'), 
    order_status 
FROM orders""").show()

+-----------------+---------------------------------------------------+---------------+
|order_customer_id|date_format(CAST(order_date AS TIMESTAMP), yyyy-MM)|   order_status|
+-----------------+---------------------------------------------------+---------------+
|            11599|                                            2013-07|         CLOSED|
|              256|                                            2013-07|PENDING_PAYMENT|
|            12111|                                            2013-07|       COMPLETE|
|             8827|                                            2013-07|         CLOSED|
|            11318|                                            2013-07|       COMPLETE|
|             7130|                                            2013-07|       COMPLETE|
|             4530|                                            2013-07|       COMPLETE|
|             2911|                                            2013-07|     PROCESSING|
|             5657|                                            2013-07|PENDING_PAYMENT|
|             5648|                                            2013-07|PENDING_PAYMENT|
|              918|                                            2013-07| PAYMENT_REVIEW|
|             1837|                                            2013-07|         CLOSED|
|             9149|                                            2013-07|PENDING_PAYMENT|
|             9842|                                            2013-07|     PROCESSING|
|             2568|                                            2013-07|       COMPLETE|
|             7276|                                            2013-07|PENDING_PAYMENT|
|             2667|                                            2013-07|       COMPLETE|
|             1205|                                            2013-07|         CLOSED|
|             9488|                                            2013-07|PENDING_PAYMENT|
|             9198|                                            2013-07|     PROCESSING|
+-----------------+---------------------------------------------------+---------------+
only showing top 20 rows

In [22]:
spark.sql("""
SELECT order_customer_id, 
    date_format(order_date, 'yyyy-MM') AS order_month, 
    order_status 
FROM orders
""").show()

+-----------------+-----------+---------------+
|order_customer_id|order_month|   order_status|
+-----------------+-----------+---------------+
|            11599|    2013-07|         CLOSED|
|              256|    2013-07|PENDING_PAYMENT|
|            12111|    2013-07|       COMPLETE|
|             8827|    2013-07|         CLOSED|
|            11318|    2013-07|       COMPLETE|
|             7130|    2013-07|       COMPLETE|
|             4530|    2013-07|       COMPLETE|
|             2911|    2013-07|     PROCESSING|
|             5657|    2013-07|PENDING_PAYMENT|
|             5648|    2013-07|PENDING_PAYMENT|
|              918|    2013-07| PAYMENT_REVIEW|
|             1837|    2013-07|         CLOSED|
|             9149|    2013-07|PENDING_PAYMENT|
|             9842|    2013-07|     PROCESSING|
|             2568|    2013-07|       COMPLETE|
|             7276|    2013-07|PENDING_PAYMENT|
|             2667|    2013-07|       COMPLETE|
|             1205|    2013-07|         CLOSED|
|             9488|    2013-07|PENDING_PAYMENT|
|             9198|    2013-07|     PROCESSING|
+-----------------+-----------+---------------+
only showing top 20 rows

In [23]:
spark.sql("SELECT DISTINCT order_status FROM orders").show()

+---------------+
|   order_status|
+---------------+
|PENDING_PAYMENT|
|       COMPLETE|
|        ON_HOLD|
| PAYMENT_REVIEW|
|     PROCESSING|
|         CLOSED|
|SUSPECTED_FRAUD|
|        PENDING|
|       CANCELED|
+---------------+

In [24]:
spark.sql("SELECT DISTINCT * FROM orders").show()

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|     189|2013-07-26 00:00:...|            10177|        PENDING|
|     379|2013-07-27 00:00:...|             8735|PENDING_PAYMENT|
|     440|2013-07-27 00:00:...|             7290|       COMPLETE|
|     471|2013-07-27 00:00:...|            10861|        PENDING|
|     599|2013-07-28 00:00:...|             8005|       COMPLETE|
|     665|2013-07-28 00:00:...|             5648|        ON_HOLD|
|     736|2013-07-29 00:00:...|             8536|       COMPLETE|
|     974|2013-07-30 00:00:...|             6413|         CLOSED|
|    1052|2013-07-30 00:00:...|              464|     PROCESSING|
|    1175|2013-07-31 00:00:...|             1330|       COMPLETE|
|    1241|2013-07-31 00:00:...|             7430|       COMPLETE|
|    1252|2013-07-31 00:00:...|            10504|        PENDING|
|    1296|2013-07-31 00:00:...|              589|         CLOSED|
|    1547|2013-08-02 00:00:...|             9462|       COMPLETE|
|    1714|2013-08-02 00:00:...|            10107|PENDING_PAYMENT|
|    2895|2013-08-10 00:00:...|            11697|        PENDING|
|    2924|2013-08-10 00:00:...|             4316|PENDING_PAYMENT|
|    2969|2013-08-10 00:00:...|             8603|       COMPLETE|
|    3025|2013-08-11 00:00:...|             7410|         CLOSED|
|    3265|2013-08-12 00:00:...|            11334|       COMPLETE|
+--------+--------------------+-----------------+---------------+
only showing top 20 rows