## Overview of Windowing Functions

Let us get an overview of Analytics or Windowing Functions in Spark SQL.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Windowing Functions").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@62a7f2b

org.apache.spark.sql.SparkSession@62a7f2b

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* Aggregate Functions (`sum`, `min`, `max`, `avg`)
* Window Functions (`lead`, `lag`, `first_value`, `last_value`)
* Rank Functions (`rank`, `dense_rank`, `row_number` etc)
* For all the functions we use `OVER` clause.
* For aggregate functions we typically use `PARTITION BY`
* For global ranking and windowing functions we can use `ORDER BY sorting_column` and for ranking and windowing with in a partition or group we can use `PARTITION BY partition_column ORDER BY sorting_column`.

In [3]:
%%sql

USE itv002461_hr

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

SELECT employee_id, department_id, salary FROM employees LIMIT 10

+-----------+-------------+--------+
|employee_id|department_id|  salary|
+-----------+-------------+--------+
|        155|           80| 7000.00|
|        156|           80|10000.00|
|        157|           80| 9500.00|
|        158|           80| 9000.00|
|        159|           80| 8000.00|
|        160|           80| 7500.00|
|        161|           80| 7000.00|
|        162|           80|10500.00|
|        163|           80| 9500.00|
|        164|           80| 7200.00|
+-----------+-------------+--------+

In [10]:
%%sql

SELECT employee_id, department_id, salary,
    count(1) OVER (PARTITION BY department_id) AS employee_count,
    rank() OVER (ORDER BY salary DESC) AS rnk,
    lead(employee_id) OVER (PARTITION BY department_id ORDER BY salary DESC) AS lead_emp_id,
    lead(salary) OVER (PARTITION BY department_id ORDER BY salary DESC) AS lead_emp_sal
FROM employees
ORDER BY employee_id

|        105|           60| 4800.00|             5| 59|        106|  ...

+-----------+-------------+--------+--------------+---+-----------+------------+
|employee_id|department_id|  salary|employee_count|rnk|lead_emp_id|lead_emp_sal|
+-----------+-------------+--------+--------------+---+-----------+------------+
|        100|           90|24000.00|             3|  1|        101|    17000.00|
|        101|           90|17000.00|             3|  2|        102|    17000.00|
|        102|           90|17000.00|             3|  2|       null|        null|
|        103|           60| 9000.00|             5| 24|        104|     6000.00|
|        104|           60| 6000.00|             5| 56|        105|     4800.00|
|        105|           60| 4800.00|             5| 59|        106|     4800.00|
|        106|           60| 4800.00|             5| 59|        107|     4200.00|
|        107|           60| 4200.00|             5| 62|       null|        null|
|        108|          100|12000.00|             6|  7|        109|     9000.00|
|        109|          100| 9000.00|             6| 24|        110|     8200.00|
+-----------+-------------+--------+--------------+---+-----------+------------+
only showing top 10 rows