## Using LEAD or LAG

Let us understand LEAD and LAG functions to get column values from following or prior records.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Windowing Functions").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@196b1dac

org.apache.spark.sql.SparkSession@196b1dac

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

Here is the example where we can get prior or following records based on **ORDER BY** within **OVER** Clause.

In [3]:
%%sql

USE itv002461_retail

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

SELECT * FROM daily_revenue
ORDER BY order_date DESC
LIMIT 10

+--------------------+--------+
|          order_date| revenue|
+--------------------+--------+
|2014-07-24 00:00:...|50885.19|
|2014-07-23 00:00:...|38795.23|
|2014-07-22 00:00:...|36717.24|
|2014-07-21 00:00:...| 51427.7|
|2014-07-20 00:00:...|60047.45|
|2014-07-19 00:00:...|38420.99|
|2014-07-18 00:00:...| 43856.6|
|2014-07-17 00:00:...|36384.77|
|2014-07-16 00:00:...|43011.92|
|2014-07-15 00:00:...|53480.23|
+--------------------+--------+

In [5]:
%%sql

SELECT t.*,
  lead(order_date) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue) OVER (ORDER BY order_date DESC) AS prior_revenue,
  lag(order_date) OVER (ORDER BY order_date) AS lag_prior_date,
  lag(revenue) OVER (ORDER BY order_date) AS lag_prior_revenue
FROM daily_revenue AS t
ORDER BY order_date DESC
LIMIT 10

|2014-07-21 00:00:...| 51427.7|2014-07-20 00:00:...|     60047.45|2014-07-20 00:0...

+--------------------+--------+--------------------+-------------+--------------------+-----------------+
|          order_date| revenue|          prior_date|prior_revenue|      lag_prior_date|lag_prior_revenue|
+--------------------+--------+--------------------+-------------+--------------------+-----------------+
|2014-07-24 00:00:...|50885.19|2014-07-23 00:00:...|     38795.23|2014-07-23 00:00:...|         38795.23|
|2014-07-23 00:00:...|38795.23|2014-07-22 00:00:...|     36717.24|2014-07-22 00:00:...|         36717.24|
|2014-07-22 00:00:...|36717.24|2014-07-21 00:00:...|      51427.7|2014-07-21 00:00:...|          51427.7|
|2014-07-21 00:00:...| 51427.7|2014-07-20 00:00:...|     60047.45|2014-07-20 00:00:...|         60047.45|
|2014-07-20 00:00:...|60047.45|2014-07-19 00:00:...|     38420.99|2014-07-19 00:00:...|         38420.99|
|2014-07-19 00:00:...|38420.99|2014-07-18 00:00:...|      43856.6|2014-07-18 00:00:...|          43856.6|
|2014-07-18 00:00:...| 43856.6|2014-07-17 00:00:...|     36384.77|2014-07-17 00:00:...|         36384.77|
|2014-07-17 00:00:...|36384.77|2014-07-16 00:00:...|     43011.92|2014-07-16 00:00:...|         43011.92|
|2014-07-16 00:00:...|43011.92|2014-07-15 00:00:...|     53480.23|2014-07-15 00:00:...|         53480.23|
|2014-07-15 00:00:...|53480.23|2014-07-14 00:00:...|     29937.52|2014-07-14 00:00:...|         29937.52|
+--------------------+--------+--------------------+-------------+--------------------+-----------------+

In [6]:
%%sql

SELECT t.*,
  lead(order_date) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_revenue AS t
ORDER BY order_date
LIMIT 10

|2013-08-01 00:00:...|49160.08|2013-07-31 00:00...

+--------------------+--------+--------------------+-------------+
|          order_date| revenue|          prior_date|prior_revenue|
+--------------------+--------+--------------------+-------------+
|2013-07-25 00:00:...|31547.23|                null|         null|
|2013-07-26 00:00:...|54713.23|2013-07-25 00:00:...|     31547.23|
|2013-07-27 00:00:...|48411.48|2013-07-26 00:00:...|     54713.23|
|2013-07-28 00:00:...|35672.03|2013-07-27 00:00:...|     48411.48|
|2013-07-29 00:00:...| 54579.7|2013-07-28 00:00:...|     35672.03|
|2013-07-30 00:00:...|49329.29|2013-07-29 00:00:...|      54579.7|
|2013-07-31 00:00:...|59212.49|2013-07-30 00:00:...|     49329.29|
|2013-08-01 00:00:...|49160.08|2013-07-31 00:00:...|     59212.49|
|2013-08-02 00:00:...|50688.58|2013-08-01 00:00:...|     49160.08|
|2013-08-03 00:00:...|43416.74|2013-08-02 00:00:...|     50688.58|
+--------------------+--------+--------------------+-------------+

We can also pass number of rows as well as default values for nulls as arguments.

In [7]:
%%sql

USE itv002461_retail

++
||
++
++

In [8]:
%%sql

SELECT t.*,
  lead(order_date, 7) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue, 7) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_revenue t
ORDER BY order_date DESC
LIMIT 10

|2014-07-17 00:00:...|36384.77|2014-07-10 00:00...

+--------------------+--------+--------------------+-------------+
|          order_date| revenue|          prior_date|prior_revenue|
+--------------------+--------+--------------------+-------------+
|2014-07-24 00:00:...|50885.19|2014-07-17 00:00:...|     36384.77|
|2014-07-23 00:00:...|38795.23|2014-07-16 00:00:...|     43011.92|
|2014-07-22 00:00:...|36717.24|2014-07-15 00:00:...|     53480.23|
|2014-07-21 00:00:...| 51427.7|2014-07-14 00:00:...|     29937.52|
|2014-07-20 00:00:...|60047.45|2014-07-13 00:00:...|     40410.99|
|2014-07-19 00:00:...|38420.99|2014-07-12 00:00:...|     38449.77|
|2014-07-18 00:00:...| 43856.6|2014-07-11 00:00:...|     29596.32|
|2014-07-17 00:00:...|36384.77|2014-07-10 00:00:...|     47826.02|
|2014-07-16 00:00:...|43011.92|2014-07-09 00:00:...|     36929.91|
|2014-07-15 00:00:...|53480.23|2014-07-08 00:00:...|     50434.81|
+--------------------+--------+--------------------+-------------+

In [9]:
%%sql

SELECT t.*,
  lead(order_date, 7) OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue, 7) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_revenue t
ORDER BY order_date
LIMIT 10

|2013-08-01 00:00:...|49160.08|2013-07-25 00:00...

+--------------------+--------+--------------------+-------------+
|          order_date| revenue|          prior_date|prior_revenue|
+--------------------+--------+--------------------+-------------+
|2013-07-25 00:00:...|31547.23|                null|         null|
|2013-07-26 00:00:...|54713.23|                null|         null|
|2013-07-27 00:00:...|48411.48|                null|         null|
|2013-07-28 00:00:...|35672.03|                null|         null|
|2013-07-29 00:00:...| 54579.7|                null|         null|
|2013-07-30 00:00:...|49329.29|                null|         null|
|2013-07-31 00:00:...|59212.49|                null|         null|
|2013-08-01 00:00:...|49160.08|2013-07-25 00:00:...|     31547.23|
|2013-08-02 00:00:...|50688.58|2013-07-26 00:00:...|     54713.23|
|2013-08-03 00:00:...|43416.74|2013-07-27 00:00:...|     48411.48|
+--------------------+--------+--------------------+-------------+

In [10]:
%%sql

SELECT t.*,
  lead(order_date, 7, 'NA') OVER (ORDER BY order_date DESC) AS prior_date,
  lead(revenue, 7, 0) OVER (ORDER BY order_date DESC) AS prior_revenue
FROM daily_revenue t
ORDER BY order_date
LIMIT 10

|2013-08-01 00:00:...|49160.08|2013-07-25 00:00...

+--------------------+--------+--------------------+-------------+
|          order_date| revenue|          prior_date|prior_revenue|
+--------------------+--------+--------------------+-------------+
|2013-07-25 00:00:...|31547.23|                  NA|          0.0|
|2013-07-26 00:00:...|54713.23|                  NA|          0.0|
|2013-07-27 00:00:...|48411.48|                  NA|          0.0|
|2013-07-28 00:00:...|35672.03|                  NA|          0.0|
|2013-07-29 00:00:...| 54579.7|                  NA|          0.0|
|2013-07-30 00:00:...|49329.29|                  NA|          0.0|
|2013-07-31 00:00:...|59212.49|                  NA|          0.0|
|2013-08-01 00:00:...|49160.08|2013-07-25 00:00:...|     31547.23|
|2013-08-02 00:00:...|50688.58|2013-07-26 00:00:...|     54713.23|
|2013-08-03 00:00:...|43416.74|2013-07-27 00:00:...|     48411.48|
+--------------------+--------+--------------------+-------------+

Let us see how we can get prior or following records with in a group based on particular order.

Here is the example where we can get prior or following records based on **PARTITION BY** and then **ORDER BY** Clause.

In [11]:
%%sql

USE itv002461_retail

++
||
++
++

In [12]:
%%sql

DESCRIBE daily_product_revenue

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|          order_date|   string|   null|
|order_item_produc...|      int|   null|
|             revenue|   double|   null|
+--------------------+---------+-------+

In [13]:
%%sql

SELECT * FROM daily_product_revenue 
ORDER BY order_date, revenue DESC
LIMIT 10

+--------------------+------...

+--------------------+---------------------+-------+
|          order_date|order_item_product_id|revenue|
+--------------------+---------------------+-------+
|2013-07-25 00:00:...|                 1004|5599.72|
|2013-07-25 00:00:...|                  191|5099.49|
|2013-07-25 00:00:...|                  957| 4499.7|
|2013-07-25 00:00:...|                  365|3359.44|
|2013-07-25 00:00:...|                 1073|2999.85|
|2013-07-25 00:00:...|                 1014|2798.88|
|2013-07-25 00:00:...|                  403|1949.85|
|2013-07-25 00:00:...|                  502| 1650.0|
|2013-07-25 00:00:...|                  627|1079.73|
|2013-07-25 00:00:...|                  226| 599.99|
+--------------------+---------------------+-------+

In [18]:
%%sql

SELECT t.*,
  LEAD(order_item_product_id) OVER (
    PARTITION BY order_date 
    ORDER BY revenue DESC
  ) next_product_id,
  LEAD(revenue) OVER (
    PARTITION BY order_date 
    ORDER BY revenue DESC
  ) next_revenue
FROM daily_product_revenue t
ORDER BY order_date, revenue DESC
LIMIT 100

|2013-07-25 00:00:...|                 1014|2798.88|         ...

+--------------------+---------------------+-------+---------------+------------+
|          order_date|order_item_product_id|revenue|next_product_id|next_revenue|
+--------------------+---------------------+-------+---------------+------------+
|2013-07-25 00:00:...|                 1004|5599.72|            191|     5099.49|
|2013-07-25 00:00:...|                  191|5099.49|            957|      4499.7|
|2013-07-25 00:00:...|                  957| 4499.7|            365|     3359.44|
|2013-07-25 00:00:...|                  365|3359.44|           1073|     2999.85|
|2013-07-25 00:00:...|                 1073|2999.85|           1014|     2798.88|
|2013-07-25 00:00:...|                 1014|2798.88|            403|     1949.85|
|2013-07-25 00:00:...|                  403|1949.85|            502|      1650.0|
|2013-07-25 00:00:...|                  502| 1650.0|            627|     1079.73|
|2013-07-25 00:00:...|                  627|1079.73|            226|      599.99|
|2013-07-25 00:00:...|                  226| 599.99|             24|      319.96|
+--------------------+---------------------+-------+---------------+------------+
only showing top 10 rows

In [ ]:
spark.sql("""
    SELECT t.*,
      LEAD(order_item_product_id) OVER (
        PARTITION BY order_date 
        ORDER BY revenue DESC
      ) next_product_id,
      LEAD(revenue) OVER (
        PARTITION BY order_date 
        ORDER BY revenue DESC
      ) next_revenue
    FROM daily_product_revenue t
    ORDER BY order_date, revenue DESC
""").
    show(100, false)

We can also pass number of rows as well as default values for nulls as arguments.

In [20]:
%%sql

SELECT t.*,
  LEAD(order_item_product_id) OVER (
    PARTITION BY order_date ORDER BY revenue DESC
  ) next_product_id,
  LEAD(revenue, 1, 0) OVER (
    PARTITION BY order_date ORDER BY revenue DESC
  ) next_revenue
FROM daily_product_revenue t
ORDER BY order_date, revenue DESC
LIMIT 100

|2013-07-25 00:00:...|                 1014|2798.88|         ...

+--------------------+---------------------+-------+---------------+------------+
|          order_date|order_item_product_id|revenue|next_product_id|next_revenue|
+--------------------+---------------------+-------+---------------+------------+
|2013-07-25 00:00:...|                 1004|5599.72|            191|     5099.49|
|2013-07-25 00:00:...|                  191|5099.49|            957|      4499.7|
|2013-07-25 00:00:...|                  957| 4499.7|            365|     3359.44|
|2013-07-25 00:00:...|                  365|3359.44|           1073|     2999.85|
|2013-07-25 00:00:...|                 1073|2999.85|           1014|     2798.88|
|2013-07-25 00:00:...|                 1014|2798.88|            403|     1949.85|
|2013-07-25 00:00:...|                  403|1949.85|            502|      1650.0|
|2013-07-25 00:00:...|                  502| 1650.0|            627|     1079.73|
|2013-07-25 00:00:...|                  627|1079.73|            226|      599.99|
|2013-07-25 00:00:...|                  226| 599.99|             24|      319.96|
+--------------------+---------------------+-------+---------------+------------+
only showing top 10 rows

In [ ]:
spark.sql("""
    SELECT t.*,
      LEAD(order_item_product_id) OVER (
        PARTITION BY order_date ORDER BY revenue DESC
      ) next_product_id,
      LEAD(revenue, 1, 0) OVER (
        PARTITION BY order_date ORDER BY revenue DESC
      ) next_revenue
    FROM daily_product_revenue t
    ORDER BY order_date, revenue DESC
    LIMIT 100
""").
    show(100, false)

In [21]:
%%sql
select  max(q.second_max)
from (select lead(revenue) over (order by revenue desc) as second_max
      from daily_product_revenue
      ) q

+---------------+
|max(second_max)|
+---------------+
|        15999.2|
+---------------+

In [23]:
%%sql
select revenue from daily_product_revenue order by revenue desc

+--------+
| revenue|
+--------+
|16399.18|
| 15999.2|
| 15999.2|
|15599.22|
|15599.22|
|15199.24|
|14799.26|
|14799.26|
|14799.26|
|14399.28|
+--------+
only showing top 10 rows