## Overview of Sub Queries

Let us recap about Sub Queries.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Windowing Functions").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@6d2d6449

org.apache.spark.sql.SparkSession@6d2d6449

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* We typically have Sub Queries in **FROM** Clause.
* We need not provide alias to the Sub Queries in **FROM** Clause in Spark SQL. In earlier versions, you might have to provide alias for the Sub Query.
* We use Sub Queries quite often over queries using Analytics/Windowing Functions

In [3]:
%%sql

SELECT * FROM (SELECT current_date)

Waiting for a Spark session to start...

+--------------+
|current_date()|
+--------------+
|    2022-06-02|
+--------------+

In [4]:
%%sql

SELECT * FROM (SELECT current_date) AS q

+--------------+
|current_date()|
+--------------+
|    2022-06-02|
+--------------+

Let us see few more examples with respect to Sub Queries.

In [5]:
%%sql

USE itv002461_retail

++
||
++
++

In [6]:
%%sql

SELECT * FROM (
    SELECT order_date, count(1) AS order_count
    FROM orders
    GROUP BY order_date
) q
LIMIT 10

+--------------------+-----------+
|          order_date|order_count|
+--------------------+-----------+
|2014-03-19 00:00:...|        130|
|2014-04-26 00:00:...|        251|
|2013-10-12 00:00:...|        162|
|2013-11-15 00:00:...|        135|
|2013-09-16 00:00:...|        121|
|2013-09-20 00:00:...|        139|
|2013-12-31 00:00:...|        266|
|2014-06-15 00:00:...|        128|
|2013-09-06 00:00:...|        276|
|2013-12-24 00:00:...|        170|
+--------------------+-----------+

```{note}
Here is an example of how we can filter based up on the derived columns using sub query. However, this can be achieved with direct query as well using `HAVING`. 
```

In [7]:
%%sql

SELECT * FROM (
    SELECT order_date, count(1) AS order_count
    FROM orders
    GROUP BY order_date
) q
WHERE q.order_count > 10

+--------------------+-----------+
|          order_date|order_count|
+--------------------+-----------+
|2013-08-13 00:00:...|         73|
|2013-10-12 00:00:...|        162|
|2013-11-15 00:00:...|        135|
|2014-03-19 00:00:...|        130|
|2014-04-26 00:00:...|        251|
|2013-09-16 00:00:...|        121|
|2013-09-20 00:00:...|        139|
|2013-12-31 00:00:...|        266|
|2013-09-06 00:00:...|        276|
|2014-06-15 00:00:...|        128|
+--------------------+-----------+
only showing top 10 rows

In [8]:
%%sql

SELECT order_date, count(1) AS order_count
FROM orders
GROUP BY order_date
    HAVING count(1) > 10

+--------------------+-----------+
|          order_date|order_count|
+--------------------+-----------+
|2013-08-13 00:00:...|         73|
|2014-03-19 00:00:...|        130|
|2014-04-26 00:00:...|        251|
|2013-10-12 00:00:...|        162|
|2013-11-15 00:00:...|        135|
|2013-09-16 00:00:...|        121|
|2013-09-20 00:00:...|        139|
|2013-12-31 00:00:...|        266|
|2013-09-06 00:00:...|        276|
|2014-06-15 00:00:...|        128|
+--------------------+-----------+
only showing top 10 rows