## Exercises - Windowing Functions

Let us take care of the exercises related to windowing or analytics functions. We will be using HR database for the same.

* Get all the employees who is making more than average salary with in each department.
* Get cumulative salary for one of the department along with department name.
* Get top 3 paid employees with in each department by salary (use dense_rank)
* Get top 3 products sold in the month of 2014 January by revenue.
* Get top 3 products in each category sold in the month of 2014 January by revenue.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [ ]:
val username = System.getProperty("user.name")

In [1]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Windowing Functions").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@1ae237b7

org.apache.spark.sql.SparkSession@1ae237b7

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

### Exercise 1

Get all the employees who is making more than average salary with in each department.

* Use HR database employees and department tables for this problem.
* Compute average salary expense for each department and get those employee details who are making more salary than average salary.
* Make sure average salary expense per department is rounded off to 2 decimals.
* Output should contain employee_id, department_name, salary and avg_salary_expense (derived field).
* Data should be sorted in ascending order by department_id and descending order by salary.

|employee_id|department_name|salary|avg_salary_expense|
|---|---|---|---|
|201|Marketing|13000.00|9500.00|
|114|Purchasing|11000.00|4150.00|
|121|Shipping|8200.00|3475.56|
|120|Shipping|8000.00|3475.56|
|122|Shipping|7900.00|3475.56|
|123|Shipping|6500.00|3475.56|
|124|Shipping|5800.00|3475.56|
|184|Shipping|4200.00|3475.56|
|185|Shipping|4100.00|3475.56|
|192|Shipping|4000.00|3475.56|
|193|Shipping|3900.00|3475.56|
|188|Shipping|3800.00|3475.56|
|137|Shipping|3600.00|3475.56|
|189|Shipping|3600.00|3475.56|
|141|Shipping|3500.00|3475.56|
|103|IT|9000.00|5760.00|
|104|IT|6000.00|5760.00|
|145|Sales|14000.00|8955.88|
|146|Sales|13500.00|8955.88|
|147|Sales|12000.00|8955.88|
|168|Sales|11500.00|8955.88|
|148|Sales|11000.00|8955.88|
|174|Sales|11000.00|8955.88|
|149|Sales|10500.00|8955.88|
|162|Sales|10500.00|8955.88|
|156|Sales|10000.00|8955.88|
|150|Sales|10000.00|8955.88|
|169|Sales|10000.00|8955.88|
|170|Sales|9600.00|8955.88|
|163|Sales|9500.00|8955.88|
|151|Sales|9500.00|8955.88|
|157|Sales|9500.00|8955.88|
|158|Sales|9000.00|8955.88|
|152|Sales|9000.00|8955.88|
|100|Executive|24000.00|19333.33|
|108|Finance|12000.00|8600.00|
|109|Finance|9000.00|8600.00|
|205|Accounting|12000.00|10150.00|

In [3]:
%%sql
use itv002461_hr

Waiting for a Spark session to start...

++
||
++
++

In [14]:
%%sql
select de.employee_id, de.department_name, de.salary, de.avg_salary_expense
from (
       select e.employee_id, e.department_id, d.department_name, e.salary,round(avg(e.salary) over (partition by e.department_id),2) as avg_salary_expense
       from employees e join departments d on e.department_id=d.department_id              
     ) as de
where de.salary > de.avg_salary_expense
order by de.department_id,de.salary desc

|        192|       S...

+-----------+---------------+--------+------------------+
|employee_id|department_name|  salary|avg_salary_expense|
+-----------+---------------+--------+------------------+
|        201|      Marketing|13000.00|           9500.00|
|        114|     Purchasing|11000.00|           4150.00|
|        121|       Shipping| 8200.00|           3475.56|
|        120|       Shipping| 8000.00|           3475.56|
|        122|       Shipping| 7900.00|           3475.56|
|        123|       Shipping| 6500.00|           3475.56|
|        124|       Shipping| 5800.00|           3475.56|
|        184|       Shipping| 4200.00|           3475.56|
|        185|       Shipping| 4100.00|           3475.56|
|        192|       Shipping| 4000.00|           3475.56|
+-----------+---------------+--------+------------------+
only showing top 10 rows

In [13]:
spark.sql("""select de.employee_id, de.department_name, de.salary, de.avg_salary_expense
from (
       select e.employee_id, e.department_id, d.department_name, e.salary,round(avg(e.salary) over (partition by e.department_id),2) as avg_salary_expense
       from employees e join departments d on e.department_id=d.department_id              
     ) as de
where de.salary>de.avg_salary_expense
order by de.department_id,de.salary desc""").show(40,false)

+-----------+---------------+--------+------------------+
|employee_id|department_name|salary  |avg_salary_expense|
+-----------+---------------+--------+------------------+
|201        |Marketing      |13000.00|9500.00           |
|114        |Purchasing     |11000.00|4150.00           |
|121        |Shipping       |8200.00 |3475.56           |
|120        |Shipping       |8000.00 |3475.56           |
|122        |Shipping       |7900.00 |3475.56           |
|123        |Shipping       |6500.00 |3475.56           |
|124        |Shipping       |5800.00 |3475.56           |
|184        |Shipping       |4200.00 |3475.56           |
|185        |Shipping       |4100.00 |3475.56           |
|192        |Shipping       |4000.00 |3475.56           |
|193        |Shipping       |3900.00 |3475.56           |
|188        |Shipping       |3800.00 |3475.56           |
|137        |Shipping       |3600.00 |3475.56           |
|189        |Shipping       |3600.00 |3475.56           |
|141        |Shipping       |3500.00 |3475.56           |
|103        |IT             |9000.00 |5760.00           |
|104        |IT             |6000.00 |5760.00           |
|145        |Sales          |14000.00|8955.88           |
|146        |Sales          |13500.00|8955.88           |
|147        |Sales          |12000.00|8955.88           |
|168        |Sales          |11500.00|8955.88           |
|148        |Sales          |11000.00|8955.88           |
|174        |Sales          |11000.00|8955.88           |
|149        |Sales          |10500.00|8955.88           |
|162        |Sales          |10500.00|8955.88           |
|156        |Sales          |10000.00|8955.88           |
|169        |Sales          |10000.00|8955.88           |
|150        |Sales          |10000.00|8955.88           |
|170        |Sales          |9600.00 |8955.88           |
|151        |Sales          |9500.00 |8955.88           |
|163        |Sales          |9500.00 |8955.88           |
|157        |Sales          |9500.00 |8955.88           |
|152        |Sales          |9000.00 |8955.88           |
|158        |Sales          |9000.00 |8955.88           |
|100        |Executive      |24000.00|19333.33          |
|108        |Finance        |12000.00|8600.00           |
|109        |Finance        |9000.00 |8600.00           |
|205        |Accounting     |12000.00|10150.00          |
+-----------+---------------+--------+------------------+

### Exercise 2

Get cumulative salary with in each department for Finance and IT department along with department name.

* Use HR database employees and department tables for this problem.
* Compute cumulative salary expense for **Finance** as well as **IT** departments with in respective departments.
* Make sure cumulative salary expense per department is rounded off to 2 decimals.
* Output should contain employee_id, department_name, salary and cum_salary_expense (derived field).
* Data should be sorted in ascending order by department_name and then salary.

|employee_id|department_name|salary|cum_salary_expense|
|---|---|---|---|
|113|Finance|6900.00|6900.00|
|111|Finance|7700.00|14600.00|
|112|Finance|7800.00|22400.00|
|110|Finance|8200.00|30600.00|
|109|Finance|9000.00|39600.00|
|108|Finance|12000.00|51600.00|
|107|IT|4200.00|4200.00|
|106|IT|4800.00|9000.00|
|105|IT|4800.00|13800.00|
|104|IT|6000.00|19800.00|
|103|IT|9000.00|28800.00|

In [15]:
%%sql
select e.employee_id, d.department_name, e.salary, 
                                                round(sum(e.salary) over (
                                                    partition by e.department_id
                                                    order by e.salary
                                                    rows between unbounded preceding and current row
                                                ),2) as cum_salary_expense
from employees e join departments d on e.department_id=d.department_id 
where d.department_name in ('Finance','IT')
group by d.department_name,e.employee_id,e.department_id,e.salary
order by d.department_name,e.salary

|        104|        ...

+-----------+---------------+--------+------------------+
|employee_id|department_name|  salary|cum_salary_expense|
+-----------+---------------+--------+------------------+
|        113|        Finance| 6900.00|           6900.00|
|        111|        Finance| 7700.00|          14600.00|
|        112|        Finance| 7800.00|          22400.00|
|        110|        Finance| 8200.00|          30600.00|
|        109|        Finance| 9000.00|          39600.00|
|        108|        Finance|12000.00|          51600.00|
|        107|             IT| 4200.00|           4200.00|
|        106|             IT| 4800.00|          13800.00|
|        105|             IT| 4800.00|           9000.00|
|        104|             IT| 6000.00|          19800.00|
+-----------+---------------+--------+------------------+
only showing top 10 rows

### Exercise 3

Get top 3 paid employees with in each department by salary (use dense_rank)

* Use HR database employees and department tables for this problem.
* Highest paid employee should be ranked first.
* Output should contain employee_id, department_id, department_name, salary and employee_rank (derived field).
* Data should be sorted in ascending order by department_id in ascending order and then salary in descending order.

|employee_id|department_id|department_name|salary|employee_rank|
|---|---|---|---|---|
|200|10|Administration|4400.00|1|
|201|20|Marketing|13000.00|1|
|202|20|Marketing|6000.00|2|
|114|30|Purchasing|11000.00|1|
|115|30|Purchasing|3100.00|2|
|116|30|Purchasing|2900.00|3|
|203|40|Human Resources|6500.00|1|
|121|50|Shipping|8200.00|1|
|120|50|Shipping|8000.00|2|
|122|50|Shipping|7900.00|3|
|103|60|IT|9000.00|1|
|104|60|IT|6000.00|2|
|105|60|IT|4800.00|3|
|106|60|IT|4800.00|3|
|204|70|Public Relations|10000.00|1|
|145|80|Sales|14000.00|1|
|146|80|Sales|13500.00|2|
|147|80|Sales|12000.00|3|
|100|90|Executive|24000.00|1|
|101|90|Executive|17000.00|2|
|102|90|Executive|17000.00|2|
|108|100|Finance|12000.00|1|
|109|100|Finance|9000.00|2|
|110|100|Finance|8200.00|3|
|205|110|Accounting|12000.00|1|
|206|110|Accounting|8300.00|2|

In [7]:
%%sql
select de.employee_id, de.department_id,de.department_name, de.salary,de.employee_rank
from (select e.employee_id, e.department_id,d.department_name, e.salary,
            dense_rank() over (
                partition by e.department_id
                order by e.salary desc
            ) as employee_rank
      from employees e join departments d on e.department_id=d.department_id
     ) as de
where de.employee_rank<3
order by de.department_id,de.salary desc

|        120|           50|       Shipping| 800...

+-----------+-------------+---------------+--------+-------------+
|employee_id|department_id|department_name|  salary|employee_rank|
+-----------+-------------+---------------+--------+-------------+
|        200|           10| Administration| 4400.00|            1|
|        201|           20|      Marketing|13000.00|            1|
|        202|           20|      Marketing| 6000.00|            2|
|        114|           30|     Purchasing|11000.00|            1|
|        115|           30|     Purchasing| 3100.00|            2|
|        203|           40|Human Resources| 6500.00|            1|
|        121|           50|       Shipping| 8200.00|            1|
|        120|           50|       Shipping| 8000.00|            2|
|        103|           60|             IT| 9000.00|            1|
|        104|           60|             IT| 6000.00|            2|
+-----------+-------------+---------------+--------+-------------+
only showing top 10 rows

In [8]:
spark.sql("""select de.employee_id, de.department_id,de.department_name, de.salary,de.employee_rank
from (select e.employee_id, e.department_id,d.department_name, e.salary,
            dense_rank() over (
                partition by e.department_id
                order by e.salary desc
            ) as employee_rank
      from employees e join departments d on e.department_id=d.department_id
     ) as de
where de.employee_rank<3
order by de.department_id,de.salary desc""").show(50,false)

+-----------+-------------+----------------+--------+-------------+
|employee_id|department_id|department_name |salary  |employee_rank|
+-----------+-------------+----------------+--------+-------------+
|200        |10           |Administration  |4400.00 |1            |
|201        |20           |Marketing       |13000.00|1            |
|202        |20           |Marketing       |6000.00 |2            |
|114        |30           |Purchasing      |11000.00|1            |
|115        |30           |Purchasing      |3100.00 |2            |
|203        |40           |Human Resources |6500.00 |1            |
|121        |50           |Shipping        |8200.00 |1            |
|120        |50           |Shipping        |8000.00 |2            |
|103        |60           |IT              |9000.00 |1            |
|104        |60           |IT              |6000.00 |2            |
|204        |70           |Public Relations|10000.00|1            |
|145        |80           |Sales           |14000.00|1            |
|146        |80           |Sales           |13500.00|2            |
|100        |90           |Executive       |24000.00|1            |
|102        |90           |Executive       |17000.00|2            |
|101        |90           |Executive       |17000.00|2            |
|108        |100          |Finance         |12000.00|1            |
|109        |100          |Finance         |9000.00 |2            |
|205        |110          |Accounting      |12000.00|1            |
|206        |110          |Accounting      |8300.00 |2            |
+-----------+-------------+----------------+--------+-------------+

### Exercise 4

Get top 3 products sold in the month of 2014 January by revenue.

* Use retail database tables such as orders, order_items and products.
* Highest revenue generating product should come at top.
* Output should contain product_id, product_name, revenue, product_rank. **revenue** and **product_rank** are derived fields.
* Data should be sorted in descending order by revenue.

|product_id|product_name|revenue|product_rank|
|---|---|---|---|
|1004|Field & Stream Sportsman 16 Gun Fire Safe|250787.46|1|
|365|Perfect Fitness Perfect Rip Deck|151474.75|2|
|957|Diamondback Women's Serene Classic Comfort Bi|148190.12|3|

In [2]:
%%sql
use itv002461_retail

Waiting for a Spark session to start...

++
||
++
++

In [4]:

spark.sql("describe order_items").show(false)

+------------------------+---------+-------+
|col_name                |data_type|comment|
+------------------------+---------+-------+
|order_item_id           |int      |null   |
|order_item_order_id     |int      |null   |
|order_item_product_id   |int      |null   |
|order_item_quantity     |int      |null   |
|order_item_subtotal     |float    |null   |
|order_item_product_price|float    |null   |
+------------------------+---------+-------+

In [14]:
%%sql
with product_revenue as(select oi.order_item_product_id,p.product_name,
         round(sum(order_item_subtotal) over (
             partition by oi.order_item_product_id
             ,2)) as revenue
      from  orders as o 
          join 
          order_items oi on o.order_id = oi.order_item_order_id 
          join 
          products p on oi.order_item_product_id=p.product_id
      where date_format(o.order_date, 'yyyy-MM') = '2014-01' AND o.order_status IN ('COMPLETE', 'CLOSED')
     ) select *
       from (
             select pr.*, dense_rank() over (order by revenue desc) as product_rank
             from product_revenue as pr 
            )as q 
       where q.product_rank < 4
       group by q.order_item_product_id, q.product_name,q.revenue,q.product_rank
       order by revenue desc

+---------------------+--------------------+--------+------------+
|order_item_product_id|        product_name| revenue|product_rank|
+---------------------+--------------------+--------+------------+
|                 1004|Field & Stream Sp...|250787.0|           1|
|                  365|Perfect Fitness P...|151475.0|           2|
|                  957|Diamondback Women...|148190.0|           3|
+---------------------+--------------------+--------+------------+

In [29]:
// spark.sql("""select iq.*,dense_rank() over (
//     order by iq.revenue desc
//     ) as product_rank
// from (select oi.order_item_product_id,p.product_name,
//          round(sum(order_item_subtotal) over (
//              partition by oi.order_item_product_id
//              ,2)) as revenue
//       from  orders as o 
//           join 
//           order_items oi on o.order_id = oi.order_item_order_id 
//           join 
//           products p on oi.order_item_product_id=p.product_id
//       where date_format(o.order_date, 'yyyy-MM') = '2014-01' AND o.order_status IN ('COMPLETE', 'CLOSED')
//      ) as iq
//      group by iq.order_item_product_id,iq.product_name,iq.revenue
//      order by revenue desc""").show(300,false)

+---------------------+---------------------------------------------+--------+------------+
|order_item_product_id|product_name                                 |revenue |product_rank|
+---------------------+---------------------------------------------+--------+------------+
|1004                 |Field & Stream Sportsman 16 Gun Fire Safe    |250787.0|1           |
|365                  |Perfect Fitness Perfect Rip Deck             |151475.0|2           |
|957                  |Diamondback Women's Serene Classic Comfort Bi|148190.0|3           |
|191                  |Nike Men's Free 5.0+ Running Shoe            |132287.0|4           |
|502                  |Nike Men's Dri-FIT Victory Golf Polo         |114800.0|5           |
|1073                 |Pelican Sunstream 100 Kayak                  |113194.0|6           |
|403                  |Nike Men's CJ Elite 2 TD Football Cleat      |107632.0|7           |
|1014                 |O'Brien Men's Neoprene Life Vest             |100310.0|8           |
|627                  |Under Armour Girls' Toddler Spine Surge Runni|38990.0 |9           |
|565                  |adidas Youth Germany Black/Red Away Match Soc|3850.0  |10          |
|249                  |Under Armour Women's Micro G Skulpt Running S|2529.0  |11          |
|44                   |adidas Men's F10 Messi TRX FG Soccer Cleat   |2160.0  |12          |
|724                  |LIJA Women's Mid-Length Panel Golf Shorts    |2100.0  |13          |
|208                  |SOLE E35 Elliptical                          |2000.0  |14          |
|818                  |Titleist Pro V1x Golf Balls                  |1968.0  |15          |
|728                  |LIJA Women's Eyelet Sleeveless Golf Polo     |1885.0  |16          |
|771                  |Clicgear Rovic Cooler Bag                    |1840.0  |17          |
|278                  |Under Armour Men's Compression EV SL Slide   |1620.0  |18          |
|303                  |Garmin Forerunner 910XT GPS Watch            |1600.0  |19          |
|564                  |Nike Men's Deutschland Weltmeister Winners Bl|1590.0  |20          |
|828                  |Bridgestone e6 Straight Distance NFL San Dieg|1440.0  |21          |
|835                  |Bridgestone e6 Straight Distance NFL Carolina|1376.0  |22          |
|822                  |Titleist Pro V1x High Numbers Golf Balls     |1296.0  |23          |
|823                  |Titleist Pro V1x High Numbers Personalized Go|1248.0  |24          |
|845                  |Garmin Approach S4 Golf GPS Watch            |1200.0  |25          |
|203                  |GoPro HERO3+ Black Edition Camera            |1200.0  |25          |
|885                  |Team Golf St. Louis Cardinals Putter Grip    |1150.0  |26          |
|977                  |ENO Atlas Hammock Straps                     |1140.0  |27          |
|116                  |Nike Men's Comfort 2 Slide                   |1125.0  |28          |
|821                  |Titleist Pro V1 High Numbers Personalized Gol|1040.0  |29          |
|858                  |GolfBuddy VT3 GPS Watch                      |1000.0  |30          |
|60                   |SOLE E25 Elliptical                          |1000.0  |30          |
|306                  |Polar FT4 Heart Rate Monitor                 |990.0   |31          |
|273                  |Under Armour Kids' Mercenary Slide           |952.0   |32          |
|235                  |Under Armour Hustle Storm Medium Duffle Bag  |910.0   |33          |
|364                  |Total Gym 1400                               |900.0   |34          |
|251                  |Brooks Women's Ghost 6 Running Shoe          |900.0   |34          |
|642                  |Columbia Men's PFG Anchor Tough T-Shirt      |900.0   |34          |
|825                  |Bridgestone e6 Straight Distance NFL Tennesse|896.0   |35          |
|172                  |Nike Women's Tempo Shorts                    |870.0   |36          |
|917                  |Glove It Women's Mod Oval 3-Zip Carry All Gol|858.0   |37          |
|135                  |Nike Dri-FIT Crew Sock 6 Pack                |858.0   |37          |
|282                  |Under Armour Women's Ignite PIP VI Slide     |832.0   |38          |
|893                  |Team Golf Pittsburgh Steelers Putter Grip    |750.0   |39          |
|37                   |adidas Kids' F5 Messi FG Soccer Cleat        |735.0   |40          |
|906                  |Team Golf Tennessee Volunteers Putter Grip   |725.0   |41          |
|897                  |Team Golf New England Patriots Putter Grip   |725.0   |41          |
|24                   |Elevation Training Mask 2.0                  |720.0   |42          |
|78                   |Nike Kids' Grade School KD VI Basketball Shoe|700.0   |43          |
|804                  |Glove It Women's Imperial Golf Glove         |700.0   |43          |
|276                  |Under Armour Women's Ignite Slide            |672.0   |44          |
|810                  |Glove It Women's Mod Oval Golf Glove         |640.0   |45          |
|93                   |Under Armour Men's Tech II T-Shirt           |600.0   |46          |
|768                  |Titleist Club Glove Travel Cover             |600.0   |46          |
|226                  |Bowflex SelectTech 1090 Dumbbells            |600.0   |46          |
|860                  |Bushnell Pro X7 Jolt Slope Rangefinder       |600.0   |46          |
|886                  |Team Golf San Francisco Giants Putter Grip   |600.0   |46          |
|572                  |TYR Boys' Team Digi Jammer                   |600.0   |46          |
|305                  |Mio ALPHA Heart Rate Monitor/Sport Watch     |597.0   |47          |
|134                  |Nike Women's Legend V-Neck T-Shirt           |575.0   |48          |
|778                  |Bag Boy Beverage Holder                      |575.0   |48          |
|258                  |Nike Women's Free 5.0 TR FIT PRT 4 Training S|570.0   |49          |
|730                  |LIJA Women's Argyle Golf Polo                |560.0   |50          |
|924                  |Glove It Urban Brick Golf Towel              |560.0   |50          |
|666                  |Merrell Men's All Out Flash Trail Running Sho|550.0   |51          |
|703                  |Top Flite Women's 2014 XL Hybrid             |540.0   |52          |
|792                  |Hirzl Men's Hybrid Golf Glove                |525.0   |53          |
|567                  |adidas Men's Germany Black Crest Away Tee    |525.0   |53          |
|652                  |Merrell Women's Grassbow Sport Waterproof Hik|520.0   |54          |
|715                  |TaylorMade Women's RBZ SL Rescue             |520.0   |54          |
|743                  |Ogio Race Golf Shoes                         |510.0   |55          |
|773                  |Titleist Small Wheeled Travel Cover          |500.0   |56          |
|607                  |Garmin Approach S3 Golf GPS Watch            |500.0   |56          |
|646                  |Merrell Women's Grassbow Sport Hiking Shoe   |500.0   |56          |
|981                  |The North Face Women's Recon Backpack        |495.0   |57          |
|797                  |Hirzl Women's Soffft Flex Golf Glove         |486.0   |58          |
|905                  |Team Golf Texas Longhorns Putter Grip        |475.0   |59          |
|926                  |Glove It Imperial Golf Towel                 |448.0   |60          |
|647                  |Merrell Women's Siren Mid Waterproof Hiking B|405.0   |61          |
|793                  |Hirzl Women's Hybrid Golf Glove              |405.0   |61          |
|359                  |Nike Men's Free TR 5.0 TB Training Shoe      |400.0   |62          |
|19                   |Nike Men's Fingertrap Max Training Shoe      |375.0   |63          |
|1059                 |Pelican Maverick 100X Kayak                  |350.0   |64          |
|311                  |Polar Loop Activity Tracker                  |330.0   |65          |
|725                  |LIJA Women's Button Golf Dress               |324.0   |66          |
|777                  |Bag Boy M330 Push Cart                       |320.0   |67          |
|35                   |adidas Brazuca 2014 Official Match Ball      |320.0   |67          |
|58                   |Diamondback Boys' Insight 24 Performance Hybr|300.0   |68          |
|705                  |Cleveland Golf Women's 588 RTX CB Satin Chrom|240.0   |69          |
|625                  |Nike Men's Kobe IX Elite Low Basketball Shoe |200.0   |70          |
|677                  |TaylorMade White Smoke IN-12 Putter          |200.0   |70          |
|216                  |Yakima DoubleDown Ace Hitch Mount 4-Bike Rack|189.0   |71          |
|775                  |Clicgear 8.0 Shoe Brush                      |160.0   |72          |
|982                  |insta-bed Neverflat Air Mattress             |150.0   |73          |
|295                  |Fitbit The One Wireless Activity & Sleep Trac|100.0   |74          |
|691                  |MDGolf Pittsburgh Penguins Putter            |80.0    |75          |
+---------------------+---------------------------------------------+--------+------------+

In [3]:
%%sql
select *
from (
        select iq.*,dense_rank() over (
        order by iq.revenue desc
        ) as product_rank
    from (select oi.order_item_product_id,p.product_name,
             round(sum(order_item_subtotal) over (
                 partition by oi.order_item_product_id
                 ,2)) as revenue
          from  orders as o 
              join 
              order_items oi on o.order_id = oi.order_item_order_id 
              join 
              products p on oi.order_item_product_id=p.product_id
          where date_format(o.order_date, 'yyyy-MM') = '2014-01' AND o.order_status IN ('COMPLETE', 'CLOSED')
         ) as iq
         group by iq.order_item_product_id,iq.product_name,iq.revenue
         order by revenue desc
    )as q
where q.product_rank<=3
order by revenue desc

+---------------------+--------------------+--------+------------+
|order_item_product_id|        product_name| revenue|product_rank|
+---------------------+--------------------+--------+------------+
|                 1004|Field & Stream Sp...|250787.0|           1|
|                  365|Perfect Fitness P...|151475.0|           2|
|                  957|Diamondback Women...|148190.0|           3|
+---------------------+--------------------+--------+------------+

### Exercise 5

Get top 3 products sold in the month of 2014 January under selected categories by revenue. The categories are **Cardio Equipment** and **Strength Training**.

* Use retail database tables such as orders, order_items, products as well as categories.
* Highest revenue generating product should come at top.
* Output should contain category_id, category_name, product_id, product_name, revenue, product_rank. revenue and product_rank are derived fields.
* Data should be sorted in ascending order by category_id and descending order by revenue.

|category_id|category_name|product_id|product_name|revenue|product_rank|
|---|---|---|---|---|---|
|9|Cardio Equipment|191|Nike Men's Free 5.0+ Running Shoe|132286.77|1|
|9|Cardio Equipment|172|Nike Women's Tempo Shorts|870.00|2|
|10|Strength Training|208|SOLE E35 Elliptical|1999.99|1|
|10|Strength Training|203|GoPro HERO3+ Black Edition Camera|1199.97|2|
|10|Strength Training|216|Yakima DoubleDown Ace Hitch Mount 4-Bike Rack|189.00|3|

In [12]:
%%sql
select *
from(
    select iq.*,dense_rank() over (
        partition by iq.category_id
        order by iq.revenue desc
        ) as product_rank
    from (select c.category_id,c.category_name,p.product_name,
                 round(sum(order_item_subtotal) over (
                     partition by oi.order_item_product_id
                     ,2)) as revenue
              from  orders as o 
                  join 
                  order_items oi on o.order_id = oi.order_item_order_id 
                  join 
                  products p on oi.order_item_product_id=p.product_id
                  join
                  categories AS c ON c.category_id = p.product_category_id
              where date_format(o.order_date, 'yyyy-MM') = '2014-01' AND o.order_status IN ('COMPLETE', 'CLOSED') AND 
              c.category_name IN ('Cardio Equipment', 'Strength Training')
             ) as iq
    group by iq.category_id,iq.category_name,iq.product_name,iq.revenue
    order by iq.category_id,iq.revenue desc
    )

+-----------+-----------------+--------------------+--------+------------+
|category_id|    category_name|        product_name| revenue|product_rank|
+-----------+-----------------+--------------------+--------+------------+
|          9| Cardio Equipment|Nike Men's Free 5...|132287.0|           1|
|          9| Cardio Equipment|Nike Women's Temp...|   870.0|           2|
|         10|Strength Training| SOLE E35 Elliptical|  2000.0|           1|
|         10|Strength Training|GoPro HERO3+ Blac...|  1200.0|           2|
|         10|Strength Training|Yakima DoubleDown...|   189.0|           3|
+-----------+-----------------+--------------------+--------+------------+