## Write strings to file in append mode

Let us see how we can write multiple strings from a list to file in append mode.
* We cannot write the list of strings into file properly all at once.

In [1]:
departments = [
    '2,Fitness', 
    '3,Footwear', 
    '4,Apparel', 
    '5,Golf', 
    '6,Outdoors', 
    '7,Fan Shop'
]

In [2]:
file = open('data/departments.txt', 'w')

In [3]:
file.write(departments) # Fails

TypeError: write() argument must be str, not list

In [ ]:
file.close()

Here are the steps involved in writing list of strings in the form of CSV to a file.
* Make sure that data in the list contains delimited strings.
* Open the file in append mode.
* Iterate through the list and write one element at a time into the file.
* Close the file.

Make sure to validate whether data is written properly or not in the file.

In [4]:
departments = [
    '2,Fitness', 
    '3,Footwear', 
    '4,Apparel', 
    '5,Golf', 
    '6,Outdoors', 
    '7,Fan Shop'
]

In [5]:
file = open('data/departments.txt', 'a')

In [6]:
for department in departments:
    file.write(department)

In [7]:
file.close()

In [8]:
!ls -ltr data/departments.txt

-rw-r--r-- 1 itv002461 students 54 Apr 26 07:39 data/departments.txt

In [9]:
!cat data/departments.txt # No new line characters

2,Fitness3,Footwear4,Apparel5,Golf6,Outdoors7,Fan Shop

In [10]:
!rm data/departments.txt

In [11]:
departments = [
    '2,Fitness', 
    '3,Footwear', 
    '4,Apparel', 
    '5,Golf', 
    '6,Outdoors', 
    '7,Fan Shop'
]

In [12]:
file = open('data/departments.txt', 'a')

In [13]:
for department in departments:
    file.write(f'{department}\n')

In [14]:
file.close()

In [15]:
!ls -ltr data/departments.txt

-rw-r--r-- 1 itv002461 students 60 Apr 26 07:39 data/departments.txt

In [16]:
!cat data/departments.txt # With new line characters

2,Fitness
3,Footwear
4,Apparel
5,Golf
6,Outdoors
7,Fan Shop

In [18]:
!wc -l data/departments.txt

6 data/departments.txt

* You can also build one big string and write into the file in one shot. However you need to ensure that the line delimiter is placed between the elements.

In [19]:
!rm data/departments.txt

In [20]:
departments = [
    '2,Fitness', 
    '3,Footwear', 
    '4,Apparel', 
    '5,Golf', 
    '6,Outdoors', 
    '7,Fan Shop'
]

In [19]:
data = '\n'.join(departments)

In [20]:
type(data)

str

In [21]:
data

'2,Fitness\n3,Footwear\n4,Apparel\n5,Golf\n6,Outdoors\n7,Fan Shop'

In [22]:
file = open('data/departments.txt', 'a')

In [23]:
file.write(data)

59

In [24]:
file.close()

In [25]:
!ls -ltr data/departments.txt

-rw-r--r-- 1 itv002461 students 119 Apr 26 07:40 data/departments.txt

In [26]:
!cat data/departments.txt # With new line characters

2,Fitness
3,Footwear
4,Apparel
5,Golf
6,Outdoors
7,Fan Shop
2,Fitness
3,Footwear
4,Apparel
5,Golf
6,Outdoors
7,Fan Shop

In [27]:
!wc -l data/departments.txt

11 data/departments.txt