## Retrieve Metadata of Tables

As the table is created, let us understand how to get the metadata of a table.

* We can get metadata of Hive Tables using several commands.
  * DESCRIBE - e.g.: `DESCRIBE orders;`
  * DESCRIBE EXTENDED - e.g.: `DESCRIBE EXTENDED orders;`
  * DESCRIBE FORMATTED - e.g.: `DESCRIBE FORMATTED orders;`
* **DESCRIBE** will give only field names and data types.
* **DESCRIBE EXTENDED** will give all the metadata, but not in readable format in Hive. It is same as **DESCRIBE FORMATTED** in Spark SQL.
* **DESCRIBE FORMATTED** will give metadata in readable format.

**As the output is truncated using Jupyter, we will actually see the details using `spark-sql`**

In [1]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    master("yarn").
    appName(s"${username} | Spark SQL - Getting Started").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@41f14e46

org.apache.spark.sql.SparkSession@41f14e46

In [2]:
%%sql

SELECT current_database()

Waiting for a Spark session to start...

+------------------+
|current_database()|
+------------------+
|           default|
+------------------+

In [3]:
%%sql

USE itv002461_retail

++
||
++
++

In [4]:
%%sql

SHOW tables

+----------------+---------+-----------+
|        database|tableName|isTemporary|
+----------------+---------+-----------+
|itv002461_retail|   orders|      false|
+----------------+---------+-----------+

In [5]:
%%sql

DESCRIBE orders

+-----------------+---------+-------+
|         col_name|data_type|comment|
+-----------------+---------+-------+
|         order_id|      int|   null|
|       order_date|   string|   null|
|order_customer_id|      int|   null|
|     order_status|   string|   null|
+-----------------+---------+-------+

In [6]:
%%sql

DESCRIBE EXTENDED orders

+--------------------+-------------------...

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|            order_id|                 int|   null|
|          order_date|              string|   null|
|   order_customer_id|                 int|   null|
|        order_status|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|    itv002461_retail|       |
|               Table|              orders|       |
|               Owner|           itv002461|       |
|        Created Time|Wed May 25 04:12:...|       |
+--------------------+--------------------+-------+
only showing top 10 rows

In [7]:
%%sql

DESCRIBE FORMATTED orders

+--------------------+-------------------...

+--------------------+--------------------+-------+
|            col_name|           data_type|comment|
+--------------------+--------------------+-------+
|            order_id|                 int|   null|
|          order_date|              string|   null|
|   order_customer_id|                 int|   null|
|        order_status|              string|   null|
|                    |                    |       |
|# Detailed Table ...|                    |       |
|            Database|    itv002461_retail|       |
|               Table|              orders|       |
|               Owner|           itv002461|       |
|        Created Time|Wed May 25 04:12:...|       |
+--------------------+--------------------+-------+
only showing top 10 rows