## Exercise 2 - Create Table for Courses

Create table - **courses**
* course_id - sequence generated integer and primary key
* course_name - which holds alpha numeric or string values up to 60 characters
* course_author - which holds the name of the author up to 40 characters
* course_status - which holds one of these values (published, draft, inactive). 
* course_published_dt - which holds date type value.

In [4]:
%run 00_setup_database_variables.ipynb

In [5]:
%load_ext sql

In [6]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

env: DATABASE_URL=postgresql://itv002461_sms_user:7ji8g7gg8p8olbqbna5vz1tjyikaixco@m01.itversity.com:5433/itv002461_sms_db

In [7]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

10 rows affected.

[('itv002461_sms_db', 'public', 'users_range_part_201609', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201605', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201606', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201607', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201608', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201610', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_hash_part_4_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_hash_part_5_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_hash_part_6_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [9]:
%sql select * from information_schema.columns where table_name='courses'

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
5 rows affected.

[('itv002461_sms_db', 'public', 'courses', 'course_id', 1, "nextval('courses_course_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv002461_sms_db', 'public', 'courses', 'course_published_dt', 5, None, 'YES', 'date', None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'date', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv002461_sms_db', 'public', 'courses', 'course_name', 2, None, 'YES', 'character varying', 60, 240, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv002461_sms_db', 'public', 'courses', 'course_author', 3, None, 'YES', 'character varying', 40, 160, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv002461_sms_db', 'public', 'courses', 'course_status', 4, None, 'YES', 'character varying', 9, 36, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

In [10]:
%sql DROP TABLE IF EXISTS courses

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
Done.

[]

* Develop the create table statement to create the table.

In [11]:
%%sql
CREATE TABLE courses(
    course_id SERIAL PRIMARY KEY,
    course_name VARCHAR(60),
    course_author VARCHAR(40),
    course_status VARCHAR(40) CHECK(course_status='published' or course_status='draft' or course_status='inactive'),
    course_published_dt DATE
)

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
Done.

[]

* Validate by running query here

In [12]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
10 rows affected.

[('itv002461_sms_db', 'public', 'users_range_part_201609', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201605', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201606', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201607', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201608', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201610', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_hash_part_4_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_hash_part_5_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_hash_part_6_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

In [13]:
%sql select * from information_schema.columns where table_name='courses'

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
5 rows affected.

[('itv002461_sms_db', 'public', 'courses', 'course_id', 1, "nextval('courses_course_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv002461_sms_db', 'public', 'courses', 'course_published_dt', 5, None, 'YES', 'date', None, None, None, None, None, 0, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'date', None, None, None, None, '5', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv002461_sms_db', 'public', 'courses', 'course_name', 2, None, 'YES', 'character varying', 60, 240, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv002461_sms_db', 'public', 'courses', 'course_author', 3, None, 'YES', 'character varying', 40, 160, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'),
 ('itv002461_sms_db', 'public', 'courses', 'course_status', 4, None, 'YES', 'character varying', 40, 160, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'itv002461_sms_db', 'pg_catalog', 'varchar', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]