## Exercise 3 - Insert Courses into Table

Insert data into courses using the data provided. Make sure id is system generated. Use the table that is created as part of the previous exercise.

|Course Name                      |Course Author         |Course Status|Course Published Date|
|---------------------------------|----------------------|-------------|---------------------|
|Programming using Python         |Bob Dillon            |published    |2020-09-30           |
|Data Engineering using Python    |Bob Dillon            |published    |2020-07-15           |
|Data Engineering using Scala     |Elvis Presley         |draft        |                     |
|Programming using Scala          |Elvis Presley         |published    |2020-05-12           |
|Programming using Java           |Mike Jack             |inactive     |2020-08-10           |
|Web Applications - Python Flask  |Bob Dillon            |inactive     |2020-07-20           |
|Web Applications - Java Spring   |Mike Jack             |draft        |                     |
|Pipeline Orchestration - Python  |Bob Dillon            |draft        |                     |
|Streaming Pipelines - Python     |Bob Dillon            |published    |2020-10-05           |
|Web Applications - Scala Play    |Elvis Presley         |inactive     |2020-09-30           |
|Web Applications - Python Django |Bob Dillon            |published    |2020-06-23           |
|Server Automation - Ansible      |Uncle Sam             |published    |2020-07-05           |

In [1]:
%run 00_setup_database_variables.ipynb

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

env: DATABASE_URL=postgresql://itv002461_sms_user:7ji8g7gg8p8olbqbna5vz1tjyikaixco@m01.itversity.com:5433/itv002461_sms_db

In [4]:
%%sql 

SELECT * FROM information_schema.tables 
WHERE table_catalog = '{username}_sms_db' AND table_schema = 'public'
LIMIT 10

10 rows affected.

[('itv002461_sms_db', 'public', 'users_range_part_201609', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201605', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201606', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201607', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201608', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_range_part_201610', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_hash_part_4_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_hash_part_5_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None),
 ('itv002461_sms_db', 'public', 'users_hash_part_6_of_8', 'BASE TABLE', None, None, None, None, None, 'YES', 'NO', None)]

* Provide the insert statement(s) as answer for this exercise.

In [8]:
%%sql

INSERT INTO courses(course_name,course_author,course_status,course_published_dt)
VALUES
      ('Programming using Python','Bob Dillon','published','2020-09-30'),
      ('Data Engineering using Python','Bob Dillon','published','2020-07-15'),
      ('Data Engineering using Scala','Elvis Presley','draft',null),
      ('Programming using Scala','Elvis Presley','published','2020-05-12'),
      ('Programming using Java','Mike Jack','inactive','2020-08-10'),
      ('Web Applications - Python Flask','Bob Dillon','inactive','2020-07-20'),
      ('Web Applications - Java Spring','Mike Jack','draft',null),
      ('Pipeline Orchestration - Python','Bob Dillon','draft',null),
      ('Streaming Pipelines - Python','Bob Dillon','published','2020-10-05'),
      ('Web Applications - Scala Play','Elvis Presley','inactive','2020-09-30'),
      ('Web Applications - Python Django','Bob Dillon','published','2020-06-23'),
      ('Server Automation - Ansible','Uncle Sam','published','2020-07-05')

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
12 rows affected.

[]

* Validate by running query here

In [9]:
%%sql

SELECT count(1) FROM courses

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
1 rows affected.

[(12,)]

In [10]:
%%sql

SELECT * FROM courses LIMIT 12

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5))]