## Exercise 5 - Get Course Count by Status

Let us run queries on course data that is inserted into the table. As part of the prior topics we should have inserted this data. Using the below data get the count of courses by status. Also make sure data is sorted in descending order by Course Status.

|Course Name                      |Course Author         |Course Status|Course Published Date|
|---------------------------------|----------------------|-------------|---------------------|
|Programming using Python         |Bob Dillon            |published    |2020-09-30           |
|Data Engineering using Python    |Bob Dillon            |published    |2020-07-15           |
|Data Engineering using Scala     |Elvis Presley         |draft        |                     |
|Programming using Scala          |Elvis Presley         |published    |2020-05-12           |
|Programming using Java           |Mike Jack             |inactive     |2020-08-10           |
|Web Applications - Python Flask  |Bob Dillon            |inactive     |2020-07-20           |
|Web Applications - Java Spring   |Mike Jack             |draft        |                     |
|Pipeline Orchestration - Python  |Bob Dillon            |draft        |                     |
|Streaming Pipelines - Python     |Bob Dillon            |published    |2020-10-05           |
|Web Applications - Scala Play    |Elvis Presley         |inactive     |2020-09-30           |
|Web Applications - Python Django |Bob Dillon            |published    |2020-06-23           |
|Server Automation - Ansible      |Uncle Sam             |published    |2020-07-05           |

In [1]:
%run 00_setup_database_variables.ipynb

In [2]:
%load_ext sql

In [3]:
%env DATABASE_URL=postgresql://{username}_sms_user:{password}@{postgres_host}:{postgres_port}/{username}_sms_db

env: DATABASE_URL=postgresql://itv002461_sms_user:7ji8g7gg8p8olbqbna5vz1tjyikaixco@m01.itversity.com:5433/itv002461_sms_db

* Make sure the table contain 12 records. You can run this query to validate.

In [4]:
%%sql

SELECT * FROM courses

12 rows affected.

[(1, 'Programming using Python', 'Bob Dillon', 'published', datetime.date(2020, 9, 30)),
 (2, 'Data Engineering using Python', 'Bob Dillon', 'published', datetime.date(2020, 7, 15)),
 (3, 'Data Engineering using Scala', 'Elvis Presley', 'draft', None),
 (4, 'Programming using Scala', 'Elvis Presley', 'published', datetime.date(2020, 5, 12)),
 (5, 'Programming using Java', 'Mike Jack', 'inactive', datetime.date(2020, 8, 10)),
 (6, 'Web Applications - Python Flask', 'Bob Dillon', 'inactive', datetime.date(2020, 7, 20)),
 (7, 'Web Applications - Java Spring', 'Mike Jack', 'draft', None),
 (8, 'Pipeline Orchestration - Python', 'Bob Dillon', 'draft', None),
 (9, 'Streaming Pipelines - Python', 'Bob Dillon', 'published', datetime.date(2020, 10, 5)),
 (10, 'Web Applications - Scala Play', 'Elvis Presley', 'inactive', datetime.date(2020, 9, 30)),
 (11, 'Web Applications - Python Django', 'Bob Dillon', 'published', datetime.date(2020, 6, 23)),
 (12, 'Server Automation - Ansible', 'Uncle Sam', 'published', datetime.date(2020, 7, 5))]

* Provide the query which will get the count of courses by status. Also make sure data is sorted in descending order by Course Status. Here is the expected output. For count, provide alias as **course_count**.

|course_status|course_count|
|---|---|
|published|6|
|inactive|3|
|draft|3|

In [7]:
%%sql
SELECT course_status,count(1) AS course_count
FROM courses
GROUP BY course_status
ORDER BY course_count DESC

 * postgresql://itv002461_sms_user:***@m01.itversity.com:5433/itv002461_sms_db
3 rows affected.

[('published', 6), ('inactive', 3), ('draft', 3)]