## Create Spark Metastore Tables

Let us understand how to create tables in Spark Metastore. We will be focusing on syntax and semantics.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@58001560

org.apache.spark.sql.SparkSession@58001560

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* Let us drop and recreate the table. We need to determine table type, file format based up on the files that will be copied to the table. If the file format is delimited text file then we need to understand field delimiter as well.
  * Managed Table
  * Text File Format
  * Field Delimiter ','
* We will create the table based on the structure of data in **/data/retail_db/orders**
* If you are using `spark-sql` make sure to end the statements with **semi-colon**. With `spark-shell` or `pyspark` make sure to use `spark.sql` to pass these commands.

In [3]:
%%sql

USE itv002461_retail

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

DROP TABLE orders

++
||
++
++

In [5]:
%%sql

CREATE TABLE orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE

++
||
++
++

In [6]:
%%sql

SHOW tables

+----------------+-----------+-----------+
|        database|  tableName|isTemporary|
+----------------+-----------+-----------+
|itv002461_retail| categories|      false|
|itv002461_retail|  customers|      false|
|itv002461_retail|departments|      false|
|itv002461_retail|order_items|      false|
|itv002461_retail|     orders|      false|
|itv002461_retail|   products|      false|
+----------------+-----------+-----------+

In [7]:
%%sql

USE itv002461_retail

++
||
++
++

In [8]:
%%sql

DROP TABLE orders

++
||
++
++

In [9]:
%%sql

CREATE TABLE orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE

++
||
++
++

In [10]:
%%sql

SHOW tables

+----------------+-----------+-----------+
|        database|  tableName|isTemporary|
+----------------+-----------+-----------+
|itv002461_retail| categories|      false|
|itv002461_retail|  customers|      false|
|itv002461_retail|departments|      false|
|itv002461_retail|order_items|      false|
|itv002461_retail|     orders|      false|
|itv002461_retail|   products|      false|
+----------------+-----------+-----------+

* Using Spark SQL with Python or Scala

In [12]:
spark.sql("USE itv002461_retail")

[]

In [13]:
spark.sql("DROP TABLE orders")

[]

In [14]:
spark.sql("""
CREATE TABLE orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE
""")

[]

In [15]:
spark.sql("SHOW tables").show()

+----------------+-----------+-----------+
|        database|  tableName|isTemporary|
+----------------+-----------+-----------+
|itv002461_retail|order_items|      false|
|itv002461_retail|     orders|      false|
+----------------+-----------+-----------+

In [16]:
spark.sql("USE itv002461_retail")

[]

In [17]:
spark.sql("DROP TABLE orders")

[]

In [ ]:
spark.sql("""
CREATE TABLE orders (
  order_id INT,
  order_date STRING,
  order_customer_id INT,
  order_status STRING
) ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE
""")

In [ ]:
spark.sql("SHOW tables").show()

* Once the table is created either we can copy files using LOAD or insert query results using INSERT. We will see how to use insert to insert query results as part of the next section.
* We can also use INSERT to insert individual records. But this approach is used less often. Let us create additional table and see how we can use INSERT to insert individual records.

In [11]:
%%sql
DROP DATABASE IF EXISTS itv002461_sms CASCADE

++
||
++
++

In [12]:
%%sql

CREATE DATABASE IF NOT EXISTS itv002461_sms

++
||
++
++

In [13]:
%%sql

USE itv002461_sms

++
||
++
++

In [14]:
%%sql

CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_number STRING,
    student_address STRING
) STORED AS TEXTFILE

++
||
++
++

In [15]:
%%sql

INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)

++
||
++
++

In [16]:
%%sql

INSERT INTO students VALUES (2, 'Donald', 'Duck', '1234567890', NULL)

++
||
++
++

In [17]:
%%sql

INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', '2345678901', 'A Street, One City, Some State, 12345'),
    (4, 'Bubble', 'Guppy', '6789012345', 'Bubbly Street, Guppy, La la land, 45678')

++
||
++
++

In [18]:
%%sql

SELECT * FROM students

+----------+------------------+-----------------+--------------------+---...

+----------+------------------+-----------------+--------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_number|     student_address|
+----------+------------------+-----------------+--------------------+--------------------+
|         1|             Scott|            Tiger|                null|                null|
|         2|            Donald|             Duck|          1234567890|                null|
|         3|            Mickey|            Mouse|          2345678901|A Street, One Cit...|
|         4|            Bubble|            Guppy|          6789012345|Bubbly Street, Gu...|
+----------+------------------+-----------------+--------------------+--------------------+

In [19]:
%%sql

INSERT INTO students VALUES ('Scott', 'Tiger', 1, NULL, NULL)

++
||
++
++

In [20]:
%%sql

SELECT * FROM students

|         4|            Bubble|            Guppy|          6789012345|Bub...

+----------+------------------+-----------------+--------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_number|     student_address|
+----------+------------------+-----------------+--------------------+--------------------+
|         1|             Scott|            Tiger|                null|                null|
|         2|            Donald|             Duck|          1234567890|                null|
|      null|             Tiger|                1|                null|                null|
|         3|            Mickey|            Mouse|          2345678901|A Street, One Cit...|
|         4|            Bubble|            Guppy|          6789012345|Bubbly Street, Gu...|
+----------+------------------+-----------------+--------------------+--------------------+

* Using Spark SQL with Python or Scala

In [ ]:
spark.sql("DROP DATABASE IF EXISTS itversity_sms CASCADE")

In [ ]:
spark.sql("CREATE DATABASE IF NOT EXISTS itversity_sms")

In [ ]:
spark.sql("USE itversity_sms")

In [ ]:
spark.sql("""
CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_number STRING,
    student_address STRING
) STORED AS TEXTFILE
""")

In [ ]:
spark.sql("INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)")

In [ ]:
spark.sql("INSERT INTO students VALUES (2, 'Donald', 'Duck', '1234567890', NULL)")

In [ ]:
spark.sql("""
INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', '2345678901', 'A Street, One City, Some State, 12345'),
    (4, 'Bubble', 'Guppy', '6789012345', 'Bubbly Street, Guppy, La la land, 45678')
""")

In [ ]:
spark.sql("SELECT * FROM students").show()