## Loading Data - Append and Overwrite
Let us understand different approaches to load the data into Spark Metastore table.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@19be1af2

org.apache.spark.sql.SparkSession@19be1af2

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* `INTO TABLE` will append in the existing table
* If we want to overwrite we have to specify `OVERWRITE INTO TABLE`

In [3]:
%%sql

USE itv002461_retail

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

SELECT count(1) FROM orders

+--------+
|count(1)|
+--------+
|   68883|
+--------+

In [11]:
import sys.process._
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [12]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

Found 1 items
-rwxr-xr-x   3 itv002461 supergroup    2999944 2022-05-27 07:54 /user/itv002461/warehouse/itv002461_retail.db/orders/part-00000

warning: there was one feature warning; re-run with -feature for details

0

In [13]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  INTO TABLE orders

++
||
++
++

In [14]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

Found 2 items
-rwxr-xr-x   3 itv002461 supergroup    2999944 2022-05-27 07:54 /user/itv002461/warehouse/itv002461_retail.db/orders/part-00000
-rwxr-xr-x   3 itv002461 supergroup    2999944 2022-05-27 08:12 /user/itv002461/warehouse/itv002461_retail.db/orders/part-00000_copy_1

warning: there was one feature warning; re-run with -feature for details

0

In [15]:
%%sql

SELECT count(1) FROM orders

+--------+
|count(1)|
+--------+
|  137766|
+--------+

In [16]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  OVERWRITE INTO TABLE orders

Moved: 'hdfs://m01.itversity.com:9000/user/itv002461/warehouse/itv002461_retail.db/orders/part-00000' to trash at: hdfs://m01.itversity.com:9000/user/itv002461/.Trash/Current
Moved: 'hdfs://m01.itversity.com:9000/user/itv002461/warehouse/itv002461_retail.db/orders/part-00000_copy_1' to trash at: hdfs://m01.itversity.com:9000/user/itv002461/.Trash/Current

++
||
++
++

In [17]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

Found 1 items
-rwxr-xr-x   3 itv002461 supergroup    2999944 2022-05-27 08:13 /user/itv002461/warehouse/itv002461_retail.db/orders/part-00000

warning: there was one feature warning; re-run with -feature for details

0

In [18]:
%%sql

SELECT count(1) FROM orders

+--------+
|count(1)|
+--------+
|   68883|
+--------+

* Using Spark SQL with Python or Scala

In [ ]:
spark.sql("USE itversity_retail")

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
spark.sql("""
LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  INTO TABLE orders
""")

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()

In [ ]:
spark.sql("""
LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  OVERWRITE INTO TABLE orders
""")

In [ ]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_retail.db/orders" !

In [ ]:
spark.sql("SELECT count(1) FROM orders").show()