## Creating External Tables

Let us understand how to create external table in Spark Metastore using orders as example. Also we will see how to load data into external table.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@4871ebe9

org.apache.spark.sql.SparkSession@4871ebe9

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* We just need to add **EXTERNAL** keyword in the **CREATE** clause and **LOCATION** after **STORED AS** clause or just **LOCATION** as part of **CREATE TABLE** statement.
* We can use same LOAD commands to get data from either local file system or HDFS which we have used for Managed table.
* Once table is created we can run `DESCRIBE FORMATTED orders` to check the metadata of the table and confirm whether it is managed table or external table.
* We need to specify the location while creating external tables.

Here is the script to create external table in Spark Metastore.

In [3]:
%%sql

USE itv002461_retail

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

DROP TABLE IF EXISTS orders

++
||
++
++

In [5]:
import sys.process._

val username = System.getProperty("user.name")

username = itv002461

itv002461

In [6]:
s"hdfs dfs -rm -R /user/${username}/external/retail_db/orders" !

2022-05-27 09:47:08,548 INFO fs.TrashPolicyDefault: Moved: 'hdfs://m01.itversity.com:9000/user/itv002461/external/retail_db/orders' to trash at: hdfs://m01.itversity.com:9000/user/itv002461/.Trash/Current/user/itv002461/external/retail_db/orders

warning: there was one feature warning; re-run with -feature for details

0

In [7]:
s"hdfs dfs -mkdir -p /user/${username}/external/retail_db/orders" !

warning: there was one feature warning; re-run with -feature for details

0

In [8]:
%%sql

CREATE EXTERNAL TABLE orders (
  order_id INT COMMENT 'Unique order id',
  order_date STRING COMMENT 'Date on which order is placed',
  order_customer_id INT COMMENT 'Customer id who placed the order',
  order_status STRING COMMENT 'Current status of the order'
) COMMENT 'Table to save order level details'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
LOCATION '/user/itv002461/external/retail_db/orders'

++
||
++
++

In [9]:
import sys.process._
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [10]:
s"hdfs dfs -ls /user/${username}/external/retail_db/orders" !

warning: there was one feature warning; re-run with -feature for details

0

In [11]:
%%sql

LOAD DATA LOCAL INPATH '/data/retail_db/orders' 
  INTO TABLE orders

++
||
++
++

In [12]:
s"hdfs dfs -ls /user/${username}/external/retail_db/orders" !

Found 1 items
-rwxr-xr-x   3 itv002461 supergroup    2999944 2022-05-27 09:47 /user/itv002461/external/retail_db/orders/part-00000

warning: there was one feature warning; re-run with -feature for details

0

In [13]:
%%sql

SELECT * FROM orders LIMIT 10

|   34572|2014-02-23 00:00:...|             8135|        ...

+--------+--------------------+-----------------+---------------+
|order_id|          order_date|order_customer_id|   order_status|
+--------+--------------------+-----------------+---------------+
|   34565|2014-02-23 00:00:...|             8702|       COMPLETE|
|   34566|2014-02-23 00:00:...|             3066|PENDING_PAYMENT|
|   34567|2014-02-23 00:00:...|             7314|SUSPECTED_FRAUD|
|   34568|2014-02-23 00:00:...|             1271|       COMPLETE|
|   34569|2014-02-23 00:00:...|            11083|       COMPLETE|
|   34570|2014-02-23 00:00:...|             3159|         CLOSED|
|   34571|2014-02-23 00:00:...|             4551|         CLOSED|
|   34572|2014-02-23 00:00:...|             8135|        PENDING|
|   34573|2014-02-23 00:00:...|             7497|PENDING_PAYMENT|
|   34574|2014-02-23 00:00:...|             1868|        ON_HOLD|
+--------+--------------------+-----------------+---------------+

In [14]:
%%sql

SELECT count(1) FROM orders

+--------+
|count(1)|
+--------+
|   68883|
+--------+

In [15]:
spark.sql("DESCRIBE FORMATTED orders").show(200, false)

+----------------------------+-----------------------------------------------------------------------+--------------------------------+
|col_name                    |data_type                                                              |comment                         |
+----------------------------+-----------------------------------------------------------------------+--------------------------------+
|order_id                    |int                                                                    |Unique order id                 |
|order_date                  |string                                                                 |Date on which order is placed   |
|order_customer_id           |int                                                                    |Customer id who placed the order|
|order_status                |string                                                                 |Current status of the order     |
|                            |                                                                       |                                |
|# Detailed Table Information|                                                                       |                                |
|Database                    |itv002461_retail                                                       |                                |
|Table                       |orders                                                                 |                                |
|Owner                       |itv002461                                                              |                                |
|Created Time                |Fri May 27 09:47:30 EDT 2022                                           |                                |
|Last Access                 |Wed Dec 31 19:00:00 EST 1969                                           |                                |
|Created By                  |Spark 2.4.7                                                            |                                |
|Type                        |EXTERNAL                                                               |                                |
|Provider                    |hive                                                                   |                                |
|Comment                     |Table to save order level details                                      |                                |
|Table Properties            |[transient_lastDdlTime=1653659253, STATS_GENERATED_VIA_STATS_TASK=true]|                                |
|Statistics                  |2999944 bytes                                                          |                                |
|Location                    |hdfs://m01.itversity.com:9000/user/itv002461/external/retail_db/orders |                                |
|Serde Library               |org.apache.hadoop.hive.serde2.lazy.LazySimpleSerDe                     |                                |
|InputFormat                 |org.apache.hadoop.mapred.TextInputFormat                               |                                |
|OutputFormat                |org.apache.hadoop.hive.ql.io.HiveIgnoreKeyTextOutputFormat             |                                |
|Storage Properties          |[field.delim=,, serialization.format=,]                                |                                |
|Partition Provider          |Catalog                                                                |                                |
+----------------------------+-----------------------------------------------------------------------+--------------------------------+