## Managed Tables vs. External Tables

Let us compare and contrast between Managed Tables and External Tables.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@1b4b32d3

org.apache.spark.sql.SparkSession@1b4b32d3

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* When we say EXTERNAL and specify LOCATION or LOCATION alone as part of CREATE TABLE, it makes the table EXTERNAL.
* Rest of the syntax is same as Managed Table.
* However, when we drop **Managed Table**, it will delete metadata from metastore as well as data from HDFS.
* When we drop **External Table**, only metadata will be dropped, not the data.
* Typically we use **External Table** when same dataset is processed by multiple frameworks such as Hive, Pig, Spark etc.
* We cannot run **TRUNCATE TABLE** command against External Tables.

In [3]:
%%sql

USE itv002461_retail

Waiting for a Spark session to start...

++
||
++
++

In [17]:
%%sql

SHOW tables

+----------------+-----------+-----------+
|        database|  tableName|isTemporary|
+----------------+-----------+-----------+
|itv002461_retail| categories|      false|
|itv002461_retail|  customers|      false|
|itv002461_retail|departments|      false|
|itv002461_retail|   products|      false|
+----------------+-----------+-----------+

In [5]:
spark.sql("DESCRIBE FORMATTED orders").show(200, false)

org.apache.spark.sql.catalyst.analysis.NoSuchTableException: Table or view 'orders' not found in database 'itv002461_retail';

In [8]:
%%sql

TRUNCATE TABLE orders

Magic sql failed to execute with error:
Operation not allowed: TRUNCATE TABLE on external tables: `itv002461_retail`.`orders`;

In [ ]:
spark.sql("DESCRIBE FORMATTED order_items").show(200, false)

In [9]:
%%sql

TRUNCATE TABLE order_items

++
||
++
++

In [10]:
%%sql

DROP TABLE orders

++
||
++
++

In [11]:
%%sql

DROP TABLE order_items

++
||
++
++

In [16]:
import sys.process._
val username=System.getProperty("user.name")
s"hdfs dfs -ls /user/${username}/external/retail_db/orders" !

Found 1 items
-rwxr-xr-x   3 itv002461 supergroup    2999944 2022-05-27 09:47 /user/itv002461/external/retail_db/orders/part-00000

username = itv002461

warning: there was one feature warning; re-run with -feature for details

0