## Overview of File Formats
Let us go through the details about different file formats supported by STORED AS Clause.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Managing Tables - Basic DDL and DML").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@1b597b94

org.apache.spark.sql.SparkSession@1b597b94

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* Go to this [page](https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL) and review supported file formats.
* Supported File Formats
  * TEXTFILE
  * ORC
  * PARQUET
  * AVRO
  * SEQUENCEFILE - is not important
  * JSONFILE - only available in recent vesions of Hive.
  * and more
* We can even specify custom file formats (out of scope)

In [3]:
%%sql

DROP DATABASE IF EXISTS itv002461_sms CASCADE

Waiting for a Spark session to start...

++
||
++
++

In [4]:
%%sql

CREATE DATABASE IF NOT EXISTS itv002461_sms

++
||
++
++

In [5]:
%%sql

USE itv002461_sms

++
||
++
++

In [6]:
%%sql

CREATE TABLE students (
    student_id INT,
    student_first_name STRING,
    student_last_name STRING,
    student_phone_numbers ARRAY<STRING>,
    student_address STRUCT<street:STRING, city:STRING, state:STRING, zip:STRING>
) STORED AS parquet

++
||
++
++

In [7]:
%%sql

INSERT INTO students VALUES (1, 'Scott', 'Tiger', NULL, NULL)

++
||
++
++

In [8]:
%%sql

INSERT INTO students VALUES (2, 'Donald', 'Duck', ARRAY('1234567890', '2345678901'), NULL)

++
||
++
++

In [9]:
%%sql

INSERT INTO students VALUES 
    (3, 'Mickey', 'Mouse', ARRAY('1234567890', '2345678901'), STRUCT('A Street', 'One City', 'Some State', '12345')),
    (4, 'Bubble', 'Guppy', ARRAY('5678901234', '6789012345'), STRUCT('Bubbly Street', 'Guppy', 'La la land', '45678'))

++
||
++
++

In [10]:
%%sql

SELECT * FROM students

+----------+------------------+-----------------+-----------------...

+----------+------------------+-----------------+---------------------+--------------------+
|student_id|student_first_name|student_last_name|student_phone_numbers|     student_address|
+----------+------------------+-----------------+---------------------+--------------------+
|         4|            Bubble|            Guppy| [5678901234, 6789...|[Bubbly Street, G...|
|         3|            Mickey|            Mouse| [1234567890, 2345...|[A Street, One Ci...|
|         2|            Donald|             Duck| [1234567890, 2345...|                null|
|         1|             Scott|            Tiger|                 null|                null|
+----------+------------------+-----------------+---------------------+--------------------+

In [11]:
import sys.process._
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [12]:
s"hdfs dfs -ls /user/${username}/warehouse/${username}_sms.db/students"!

Found 5 items
-rw-r--r--   3 itv002461 supergroup          0 2022-05-27 10:20 /user/itv002461/warehouse/itv002461_sms.db/students/_SUCCESS
-rw-r--r--   3 itv002461 supergroup       2038 2022-05-27 10:20 /user/itv002461/warehouse/itv002461_sms.db/students/part-00000-3ddf00ad-9e88-4dd3-9e69-ed4b20649c5c-c000.snappy.parquet
-rw-r--r--   3 itv002461 supergroup       2490 2022-05-27 10:20 /user/itv002461/warehouse/itv002461_sms.db/students/part-00000-7dc65769-2e03-4b65-9812-2c3217c89b25-c000.snappy.parquet
-rw-r--r--   3 itv002461 supergroup       2117 2022-05-27 10:20 /user/itv002461/warehouse/itv002461_sms.db/students/part-00000-bc6d744c-33fa-4629-b43e-f2f1639eff7c-c000.snappy.parquet
-rw-r--r--   3 itv002461 supergroup       2508 2022-05-27 10:20 /user/itv002461/warehouse/itv002461_sms.db/students/part-00001-7dc65769-2e03-4b65-9812-2c3217c89b25-c000.snappy.parquet

warning: there was one feature warning; re-run with -feature for details

0