## Problem 09

Weightage: 40

Join trips data with stations and get a denormalized table with both startstationname and endstationname on top of all fields from trips.

## Data Description
All of the citibike trip data is available under **/public/citibike/trips**. It contain multiple folders - one for each month. Here is the schema.

```
root
 |-- tripduration: integer (nullable = true)
 |-- starttime: timestamp (nullable = true)
 |-- stoptime: timestamp (nullable = true)
 |-- startstationid: string (nullable = true)
 |-- endstationid: string (nullable = true)
 |-- bikeid: integer (nullable = true)
 |-- usertype: string (nullable = true)
 |-- birthyear: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- month: integer (nullable = true)
```
All of the citibike station data is available under **/public/citibike/stations**. 
```
root
 |-- stationid: long (nullable = true)
 |-- stationlatitude: string (nullable = true)
 |-- stationlongitude: string (nullable = true)
 |-- stationname: string (nullable = true)
```

## Output Requirements
* Place the result in the HDFS Directory 
```
/user/`whoami`/mock_test_02/problem09/solution
```
* Use Parquet File format with any number of files.
* Here are the column names. Data types should be as below.
```
 |-- tripduration: integer (nullable = true)
 |-- starttime: timestamp (nullable = true)
 |-- stoptime: timestamp (nullable = true)
 |-- startstationid: integer (nullable = true)
 |-- endstationid: integer (nullable = true)
 |-- bikeid: integer (nullable = true)
 |-- usertype: string (nullable = true)
 |-- birthyear: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- startstationname: string (nullable = true)
 |-- endstationname: string (nullable = true)
```
* There are no requirements for sorting the data.

## Validation

Here are the self validation steps:
* Run the following to check number of files.
```
hdfs dfs -ls /user/`whoami`/mock_test_02/problem09/solution
```
* Run this code to create dataframe by name data.
```
import getpass
username = getpass.getuser()
data = spark.read. \
    parquet(f'/user/{username}/mock_test_02/problem09/solution')
```
* Run `data.printSchema()` to validate the data types of the fields.
```
root
 |-- tripduration: integer (nullable = true)
 |-- starttime: timestamp (nullable = true)
 |-- stoptime: timestamp (nullable = true)
 |-- startstationid: integer (nullable = true)
 |-- endstationid: integer (nullable = true)
 |-- bikeid: integer (nullable = true)
 |-- usertype: string (nullable = true)
 |-- birthyear: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- startstationname: string (nullable = true)
 |-- endstationname: string (nullable = true)
```
* Run `data.count()` to validate number of records. It should be **54462016**
* Run `data.show()` to preview the data. Make sure all the data is showing up as expected.

In [20]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
    builder. \
    config('spark.ui.port', '0'). \
    appName(f'Problem 09 | {username}'). \
    master('yarn'). \
    getOrCreate()

In [21]:
trips_df=spark.read.csv('/public/citibike/trips/',header=True)

In [22]:
station_df=spark.read.json('/public/citibike/stations')

In [23]:
from pyspark.sql.functions import date_format,count,lit,col
station_df.filter(col('stationid')==504).select('stationname')

+---------------+
|    stationname|
+---------------+
|1 Ave & E 16 St|
+---------------+

In [24]:
from pyspark.sql.functions import date_format,count,lit,col
joined_df1=trips_df.join(station_df,
                         on=trips_df.startstationid.cast('int')==station_df.stationid.cast("int"),
                         how="inner"). \
            withColumnRenamed('stationname',"startstationanme")

In [25]:
joined_df2=trips_df.join(station_df,
                         on=trips_df.endstationid.cast('int')==station_df.stationid.cast("int"),
                         how="inner"). \
           withColumnRenamed('stationname',"endstationanme")

In [35]:
output=joined_df1.join(joined_df2,on=joined_df1.startstationid==joined_df2.startstationid, how="inner"). \
        select(joined_df1['*'],joined_df2.endstationanme) .\
        drop("stationid","stationlatitude","stationlongitude")

In [31]:
output.show()

+------------+-------------------+-------------------+--------------+------------+------+----------+---------+------+------+--------------------+--------------------+
|tripduration|          starttime|           stoptime|startstationid|endstationid|bikeid|  usertype|birthyear|gender| month|    startstationanme|      endstationanme|
+------------+-------------------+-------------------+--------------+------------+------+----------+---------+------+------+--------------------+--------------------+
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Barclay St & Chur...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Allen St & Hester St|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|     E 27 St & 1 Ave|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Harrison St & Hud...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Stanton St & Chry...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Broadway & Batter...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|South End Ave & L...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|South St & Gouver...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Centre St & Worth St|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery| Henry St & Grand St|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Columbia St & Riv...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Centre St & Worth St|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Grand St & Elizab...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Pike St & E Broadway|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Centre St & Chamb...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Flushing Ave & Va...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|     E 19 St & 3 Ave|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Allen St & Riving...|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Fulton St & Broadway|
|        1402|2017-05-01 00:15:50|2017-05-01 00:39:13|           296|        3258| 17885|Subscriber|     1963|     1|201705|Division St & Bowery|Howard St & Centr...|
+------------+-------------------+-------------------+--------------+------------+------+----------+---------+------+------+--------------------+--------------------+
only showing top 20 rows

In [32]:
output.printSchema()

root
 |-- tripduration: string (nullable = true)
 |-- starttime: string (nullable = true)
 |-- stoptime: string (nullable = true)
 |-- startstationid: string (nullable = true)
 |-- endstationid: string (nullable = true)
 |-- bikeid: string (nullable = true)
 |-- usertype: string (nullable = true)
 |-- birthyear: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- month: integer (nullable = true)
 |-- startstationanme: string (nullable = true)
 |-- endstationanme: string (nullable = true)

In [10]:
table1_df = spark.read.option("header", True).csv("/public/citibike/trips/month=*")

In [11]:
table2_df2 = spark.read.json("/public/citibike/stations")

In [12]:
join_df = table1_df.join(table2_df2, table1_df.startstationid == table2_df2.stationid,"inner")

In [13]:
from pyspark.sql.functions import date_format, count, lit, col, split, concat

output = join_df.select(col("tripduration").cast("int"), col("starttime").cast("timestamp"),
                         col("stoptime").cast("timestamp"), col("startstationid").cast("int"), 
                         col("endstationid").cast("int"), col("bikeid").cast("int"), 
                         "usertype", "birthyear", col("gender").cast("int"),
                         date_format("starttime", "MM").cast("int").alias("month"),
                         split(col("stationname"), "&")[0].alias("startstationname"),
                         split(col("stationname"), "&")[1].alias("endstationname"))

In [14]:
output. \
    coalesce(2). \
    write. \
    parquet('/user/itv002461/mock_test_02/problem09/solution',mode='overwrite')

In [15]:
%%sh
hdfs dfs -ls /user/${USER}/mock_test_02/problem09/solution

Found 3 items
-rw-r--r--   3 itv002461 supergroup          0 2022-07-12 04:48 /user/itv002461/mock_test_02/problem09/solution/_SUCCESS
-rw-r--r--   3 itv002461 supergroup  616821918 2022-07-12 04:47 /user/itv002461/mock_test_02/problem09/solution/part-00000-d3ea4329-0d91-4bdb-b7a1-a68e4ff25d5f-c000.snappy.parquet
-rw-r--r--   3 itv002461 supergroup  673340921 2022-07-12 04:48 /user/itv002461/mock_test_02/problem09/solution/part-00001-d3ea4329-0d91-4bdb-b7a1-a68e4ff25d5f-c000.snappy.parquet

In [16]:
import getpass
username = getpass.getuser()
data = spark.read. \
  parquet(f'/user/{username}/mock_test_02/problem09/solution')

In [17]:
data.printSchema()

root
 |-- tripduration: integer (nullable = true)
 |-- starttime: timestamp (nullable = true)
 |-- stoptime: timestamp (nullable = true)
 |-- startstationid: integer (nullable = true)
 |-- endstationid: integer (nullable = true)
 |-- bikeid: integer (nullable = true)
 |-- usertype: string (nullable = true)
 |-- birthyear: string (nullable = true)
 |-- gender: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- startstationname: string (nullable = true)
 |-- endstationname: string (nullable = true)

In [18]:
data.count()

54462016

In [19]:
data.show()

+------------+--------------------+--------------------+--------------+------------+------+----------+---------+------+-----+--------------------+------------------+
|tripduration|           starttime|            stoptime|startstationid|endstationid|bikeid|  usertype|birthyear|gender|month|    startstationname|    endstationname|
+------------+--------------------+--------------------+--------------+------------+------+----------+---------+------+-----+--------------------+------------------+
|         327|2019-09-01 00:00:...|2019-09-01 00:05:...|          3733|         504| 39213|Subscriber|     1968|     1|    9|           Avenue C |           E 18 St|
|        2219|2019-09-29 12:04:...|2019-09-29 12:41:...|          3372|        3686| 18261|Subscriber|     1974|     2|    9|            E 74 St |             1 Ave|
|        1145|2019-09-01 00:00:...|2019-09-01 00:19:...|          3329|         270| 21257|  Customer|     1969|     0|    9|          Degraw St |          Smith St|
|         816|2019-09-29 12:04:...|2019-09-29 12:18:...|           476|         168| 34200|Subscriber|     1974|     2|    9|            E 31 St |             3 Ave|
|        1293|2019-09-01 00:00:...|2019-09-01 00:21:...|          3168|         423| 15242|  Customer|     1969|     0|    9|  Central Park West |           W 85 St|
|         886|2019-09-29 12:04:...|2019-09-29 12:19:...|          3531|        3289| 41360|Subscriber|     1953|     1|    9|Frederick Douglas...|          W 129 St|
|        1753|2019-09-01 00:00:...|2019-09-01 00:29:...|          3299|        3160| 38760|Subscriber|     1990|     1|    9|            E 98 St |          Park Ave|
|        1045|2019-09-29 12:04:...|2019-09-29 12:21:...|           305|        3810| 41566|Subscriber|     1964|     1|    9|            E 58 St |             3 Ave|
|         613|2019-09-01 00:00:...|2019-09-01 00:10:...|           486|         478| 32094|Subscriber|     1992|     1|    9|           Broadway |           W 29 St|
|         342|2019-09-29 12:04:...|2019-09-29 12:10:...|          3255|         523| 38391|Subscriber|     1967|     2|    9|              8 Ave |           W 31 St|
|         482|2019-09-01 00:00:...|2019-09-01 00:08:...|          3775|        3771| 28271|  Customer|     1969|     0|    9|          Suydam St | Knickerbocker Ave|
|         650|2019-09-29 12:04:...|2019-09-29 12:15:...|          3173|          72| 32294|  Customer|     1989|     1|    9|     Riverside Blvd |           W 67 St|
|         489|2019-09-01 00:00:...|2019-09-01 00:08:...|          3775|        3771| 39424|  Customer|     1969|     0|    9|          Suydam St | Knickerbocker Ave|
|         654|2019-09-29 12:04:...|2019-09-29 12:15:...|           247|        3788| 40478|  Customer|     1969|     0|    9|           Perry St |       Bleecker St|
|        1571|2019-09-01 00:00:...|2019-09-01 00:26:...|           387|        3440| 38711|  Customer|     1969|     0|    9|          Centre St |       Chambers St|
|        1392|2019-09-29 12:04:...|2019-09-29 12:27:...|           482|         482| 29858|  Customer|     1998|     1|    9|            W 15 St |             7 Ave|
|         571|2019-09-01 00:00:...|2019-09-01 00:09:...|           440|         505| 31619|Subscriber|     1995|     1|    9|            E 45 St |             3 Ave|
|        1565|2019-09-29 12:04:...|2019-09-29 12:30:...|          3254|        3254| 21120|  Customer|     1969|     0|    9|    Soissons Landing|              null|
|         232|2019-09-01 00:00:...|2019-09-01 00:04:...|          3071|        3082| 16158|  Customer|     1969|     0|    9|          Boerum St |          Broadway|
|         470|2019-09-29 12:04:...|2019-09-29 12:12:...|          3581|         353| 39270|Subscriber|     1980|     1|    9|      Underhill Ave |        Lincoln Pl|
+------------+--------------------+--------------------+--------------+------------+------+----------+---------+------+-----+--------------------+------------------+
only showing top 20 rows