## Batch Loading of Data

Let us understand how we should take care of loading data in batches. We will perform load using multiple approaches to understand which one is better.
* Approach 1: Insert and commit each record. Whenever there is a commit in database, there is considerable amount of overhead.
* Approach 2: Insert one record at a time, but commit at the end.
* Approach 3: Insert all records at once and commit at the end.
* Approach 4: Insert records in chunks or batches and commit per chunk or batch.

We should follow the fourth approach while dealing with huge amounts of data. It will facilitate us to restartability or recoverability.

In [1]:
%run 02_function_get_database_connection.ipynb

In [2]:
def get_cursor(connection):
    return connection.cursor()

In [3]:
%run 06_reading_data_from_file.ipynb

In [4]:
orders.head(3)

   order_id             order_date  order_customer_id     order_status
0         1  2013-07-25 00:00:00.0              11599           CLOSED
1         2  2013-07-25 00:00:00.0                256  PENDING_PAYMENT
2         3  2013-07-25 00:00:00.0              12111         COMPLETE

In [ ]:
order_items.head(3)

In [5]:
query = ("""INSERT INTO orders
         (order_id, order_date, order_customer_id, order_status)
         VALUES
         (%s, %s, %s, %s)""")

```{note}
Inserting and committing one row in each iteration. Commit is quite expensive as it result in database checkpoint.
```

In [6]:
def load_orders(connection, cursor, query, data):
    for rec in data:
        cursor.execute(query, rec)
        connection.commit()

In [7]:
cursor = get_cursor(retail_connection)

In [8]:
%%time
load_orders(retail_connection, cursor, query, orders.values.tolist()[:10000])

CPU times: user 406 ms, sys: 313 ms, total: 719 ms
Wall time: 50.1 s

In [9]:
cursor.execute('TRUNCATE TABLE orders')

In [10]:
retail_connection.commit()

```{note}
Inserting one row at a time but committing at the end. Even though it is much faster than previous approach, it is transferring one record at a time between Python Engine and Database Engine.

We can further tune by leveraging batch insert.
```

In [11]:
def load_orders(connection, cursor, query, data):
    for rec in data:
        cursor.execute(query, rec)
    connection.commit()

In [12]:
cursor = get_cursor(retail_connection)

In [13]:
%%time
# Inserting all orders
load_orders(retail_connection, cursor, query, orders.values.tolist())

CPU times: user 905 ms, sys: 468 ms, total: 1.37 s
Wall time: 14 s

In [14]:
cursor.execute('TRUNCATE TABLE orders')

```{note}
All the records will be inserted as part of one batch insert operation. If there is lot of data to be inserted, then this might start running into issues such as out of memory.

Also, if the job fails in the middle then all the data that is transferred thus far will be lost. Hence it is better to batch with manageable size and then insert as well as commit.
```

In [15]:
def load_orders(connection, cursor, query, data):
    cursor.executemany(query, data)
    connection.commit()

In [16]:
cursor = get_cursor(retail_connection)

In [17]:
%%time
# Inserting all orders
load_orders(retail_connection, cursor, query, orders.values.tolist())

CPU times: user 839 ms, sys: 486 ms, total: 1.33 s
Wall time: 13.1 s

```{note}
You might not see significant difference in performance as our database is running in the same server from where the code is running to insert the data.
```

In [18]:
cursor.execute('TRUNCATE TABLE orders')

In [19]:
len(orders.values.tolist())

68883

In [20]:
list(range(0, len(orders.values.tolist()), 10000))

[0, 10000, 20000, 30000, 40000, 50000, 60000]

In [24]:
def load_orders(connection, cursor, query, data, batch_size=10000):
    for i in range(0, len(data), batch_size):
        cursor.executemany(query, data[i:i+batch_size])
        connection.commit()

In [25]:
cursor = get_cursor(retail_connection)

In [23]:
%%time
# Inserting all orders
load_orders(retail_connection, cursor, query, orders.values.tolist())

CPU times: user 890 ms, sys: 465 ms, total: 1.36 s
Wall time: 15.9 s

In [ ]:
%load_ext sql

In [ ]:
%env DATABASE_URL=postgresql://itversity_retail_user:retail_password@localhost:5432/itversity_retail_db

In [26]:
%%sql

SELECT count(1) FROM orders

java.lang.RuntimeException:  No datasource

Sql started successfully