## Validating Functions
Let us see how we can validate Spark SQL functions.

Let us start spark context for this Notebook so that we can execute the code provided. You can sign up for our [10 node state of the art cluster/labs](https://labs.itversity.com/plans) to learn Spark SQL using our unique integrated LMS.

In [1]:
val username = System.getProperty("user.name")

username = itv002461

itv002461

In [2]:
import org.apache.spark.sql.SparkSession

val username = System.getProperty("user.name")
val spark = SparkSession.
    builder.
    config("spark.ui.port", "0").
    config("spark.sql.warehouse.dir", s"/user/${username}/warehouse").
    enableHiveSupport.
    appName(s"${username} | Spark SQL - Predefined Functions").
    master("yarn").
    getOrCreate

username = itv002461
spark = org.apache.spark.sql.SparkSession@25a8cf98

org.apache.spark.sql.SparkSession@25a8cf98

If you are going to use CLIs, you can use Spark SQL using one of the 3 approaches.

**Using Spark SQL**

```
spark2-sql \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Scala**

```
spark2-shell \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

**Using Pyspark**

```
pyspark2 \
    --master yarn \
    --conf spark.ui.port=0 \
    --conf spark.sql.warehouse.dir=/user/${USER}/warehouse
```

* Spark SQL follows MySQL style. To validate functions we can just use SELECT clause - e. g.: `SELECT current_date;`
* Another example - `SELECT substr('Hello World', 1, 5);`
* If you want to use Oracle style, you can create table by name dual and insert one record.
* You can also create temporary view on top of dataframe and start writing SQL Queries. We will see an example with Scala based approach. Here are the code snippets using both Scala as well as Pyspark.

**Using Scala**
```
val orders = spark.read.
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING").
    csv("/public/retail_db/orders")
orders.createOrReplaceTempView("orders_temp")
```

**Using Python**
```
orders = spark.read. \
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING"). \
    csv("/public/retail_db/orders")
orders.createOrReplaceTempView("orders_temp")
```

In [3]:
%%sql

SELECT current_date AS current_date

Waiting for a Spark session to start...

+------------+
|current_date|
+------------+
|  2022-05-31|
+------------+

In [4]:
%%sql

SELECT substr('Hello World', 1, 5) AS result

+------+
|result|
+------+
| Hello|
+------+

In [6]:
%%sql

USE itv002461_retail

++
||
++
++

In [7]:
%%sql

SELECT current_database()

+------------------+
|current_database()|
+------------------+
|  itv002461_retail|
+------------------+

In [8]:
%%sql

DROP TABLE IF EXISTS dual

++
||
++
++

In [9]:
%%sql

CREATE TABLE dual (dummy STRING)

++
||
++
++

In [10]:
%%sql

INSERT INTO dual VALUES ('X')

++
||
++
++

In [11]:
%%sql

SELECT current_date AS current_date FROM dual

+------------+
|current_date|
+------------+
|  2022-05-31|
+------------+

In [12]:
%%sql

SELECT substr('Hello World', 1, 5) AS result FROM dual

+------+
|result|
+------+
| Hello|
+------+

* Here is how you can validate functions using Data Frame.
  * Create Data Frame
  * Create temporary view using Data Frame
  * Run queries using view with relevant functions

In [13]:
val orders = spark.read.
    schema("order_id INT, order_date STRING, order_customer_id INT, order_status STRING").
    csv("/public/retail_db/orders")

orders = [order_id: int, order_date: string ... 2 more fields]

[order_id: int, order_date: string ... 2 more fields]

In [15]:
orders.createOrReplaceTempView("orders_temp")

In [16]:
%%sql

SELECT o.*, lower(order_status) AS order_status_lower FROM orders_temp AS o LIMIT 10

|       6|2013-07-25 00:00:...|      ...

+--------+--------------------+-----------------+---------------+------------------+
|order_id|          order_date|order_customer_id|   order_status|order_status_lower|
+--------+--------------------+-----------------+---------------+------------------+
|       1|2013-07-25 00:00:...|            11599|         CLOSED|            closed|
|       2|2013-07-25 00:00:...|              256|PENDING_PAYMENT|   pending_payment|
|       3|2013-07-25 00:00:...|            12111|       COMPLETE|          complete|
|       4|2013-07-25 00:00:...|             8827|         CLOSED|            closed|
|       5|2013-07-25 00:00:...|            11318|       COMPLETE|          complete|
|       6|2013-07-25 00:00:...|             7130|       COMPLETE|          complete|
|       7|2013-07-25 00:00:...|             4530|       COMPLETE|          complete|
|       8|2013-07-25 00:00:...|             2911|     PROCESSING|        processing|
|       9|2013-07-25 00:00:...|             5657|PENDING_PAYMENT|   pending_payment|
|      10|2013-07-25 00:00:...|             5648|PENDING_PAYMENT|   pending_payment|
+--------+--------------------+-----------------+---------------+------------------+